adit-war/src/main/resources/castor-mapping/xsd.v2/dhl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.riik.ee/schemas/dhl/2010/2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.riik.ee/schemas/dhl/2010/2" xmlns:dhlma="http://www.riik.ee/schemas/dhl-meta-automatic" xmlns:dhlmm="http://www.riik.ee/schemas/dhl-meta-manual/2010/2" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:annotation>
  	<xs:documentation xml:lang="ee">
  		DVK XML konteiner - kirjeldab DVK keskkonnas edastatava dokumendi andmed.
  		DVK XML konteineri skeemi versioon 2. Skeem vastab Riigikantselei XML vormi nõuetele v05.
  		Metainfo blokki on lisatud uued alamelemendid. Parandatud on dokumentatsiooni. 
  		Faile hoitakse uue struktuuriga konteineris.
  		Litsentsitud EUPL v.1.1 alusel. (http://ec.europa.eu/idabc/eupl)
  	</xs:documentation>
  	<xs:documentation xml:lang="en">
  		DVK XML container - describes a document and its properties.
  		DVK XML container schema version 2. The schema follows the rules set by Riigikantselei XML form requirements v05.
  		New elements added to metainfo block. Improved documentation.
  		Files are stored in a new container.
  		Licensed under EUPL v.1.1 (http://ec.europa.eu/idabc/eupl)
  	</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.riik.ee/schemas/dhl-meta-automatic" schemaLocation="dhl-meta-automatic.xsd"/>
  <xs:import namespace="http://www.riik.ee/schemas/dhl-meta-manual/2010/2" schemaLocation="dhl-meta-manual.xsd"/>
  <xs:element name="regnr" type="regnrType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Adressaadi asutuse registreerimisnumber</xs:documentation>
      <xs:documentation xml:lang="en">Addressee institution register number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="isikukood" type="isikukoodType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Adressaadi isikukood</xs:documentation>
      <xs:documentation xml:lang="en">Addressee personal identification code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ametikoha_nimetus" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Adressaadi ametikoha nimetus</xs:documentation>
      <xs:documentation xml:lang="en">Addressee position name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="allyksuse_nimetus" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Adressaadi allüksuse nimetus</xs:documentation>
      <xs:documentation xml:lang="en">Addressee subdivision name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="epost" type="epostType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Adressaadi e-posti aadress</xs:documentation>
      <xs:documentation xml:lang="en">Addressee e-mail address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nimi" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Adressaadi (isiku) nimi</xs:documentation>
      <xs:documentation xml:lang="en">Addressee (person) name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="asutuse_nimi" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Adressaadi asutuse nimi</xs:documentation>
      <xs:documentation xml:lang="en">Addressee institution name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="osakonna_kood" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Adressaadi struktuuriüksuse asutusesisene kood</xs:documentation>
      <xs:documentation xml:lang="en">Addressee structural unit inter-institutional code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="osakonna_nimi" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Adressaadi struktuuriüksuse nimi</xs:documentation>
      <xs:documentation xml:lang="en">Addressee structural unit name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="aadressType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Dokumendi transpordiaadress</xs:documentation>
      <xs:documentation xml:lang="en">Document transport address</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="regnr" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="isikukood" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ametikoha_lyhinimetus" minOccurs="0" maxOccurs="1" />
      <xs:element ref="allyksuse_lyhinimetus" minOccurs="0" maxOccurs="1" />
      <xs:element ref="teadmiseks" minOccurs="0" maxOccurs="1" />
	  <xs:element ref="ametikoha_nimetus" minOccurs="0" maxOccurs="1"/>
	  <xs:element ref="allyksuse_nimetus" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="epost" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nimi" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="asutuse_nimi" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="regnrType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Asutuse registreerimisnumbri tüüp</xs:documentation>
      <xs:documentation xml:lang="en">Institution register number type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="isikukoodType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Füüsilise isiku isikukoodi tüüp</xs:documentation>
      <xs:documentation xml:lang="en">Personal ID code type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value=""/>
      <xs:pattern value="\d{11}"/>
      <xs:pattern value="\c{2}\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="epostType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">e-posti andmeformaadi tüüp</xs:documentation>
      <xs:documentation xml:lang="en">e-mail address format type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="saatja" type="aadressType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Saatja info</xs:documentation>
      <xs:documentation xml:lang="en">Sender information</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="saaja" type="aadressType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Saaja info, kellele dokument edastatakse/edastati</xs:documentation>
      <xs:documentation xml:lang="en">Recipient information to whom the document is sent/forwarded</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="vahendaja" type="aadressType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Asutus/isik, kes dokumendi saatja DVK serverist saaja DVK serverisse edastas</xs:documentation>
      <xs:documentation xml:lang="en">Institution/person who forwarded the document from the sender's DVK server to the recipient's DVK server</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="edastus">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Dokumendi konkreetsele saajale edastamise olekuinfo</xs:documentation>
      <xs:documentation xml:lang="en">Transmission status information about sending a document to a particular recipient</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="saaja"/>
        <xs:element name="saadud" type="xs:dateTime" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="ee">Ajamoment, mil DHL dokumendi saatjalt kätte sai</xs:documentation>
            <xs:documentation xml:lang="en">Timestamp of when the document store received the document from the sender</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="meetod" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="ee">Transpordiviis, mida tuleb kasutada dokumendi saajale edastamiseks</xs:documentation>
            <xs:documentation xml:lang="en">Means of transport which is to be applied when delivering the document to the recipient</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="epost"/>
              <xs:enumeration value="xtee"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="edastatud" type="xs:dateTime"  minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="ee">Ajamoment, mil dokument edastati DHL poolt saajale</xs:documentation>
            <xs:documentation xml:lang="en">Timestamp of when the document was delivered from document store to recipient</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="loetud" type="xs:dateTime"  minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="ee">Ajamoment, mil dokument märgiti saaja poolt loetuks</xs:documentation>
            <xs:documentation xml:lang="en">Timestamp of when the document was marked read by the recipient</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="fault" minOccurs="0" maxOccurs="1"/>
        <xs:element name="staatus" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="ee">Info edastuse oleku kohta</xs:documentation>
            <xs:documentation xml:lang="en">Information about the transmission status</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="saatmisel"/>
              <xs:enumeration value="saadetud"/>
              <xs:enumeration value="katkestatud"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="vastuvotja_staatus_id" type="xs:integer" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="ee">Info dokumendile vastuvõtja poolel määratud oleku kohta</xs:documentation>
            <xs:documentation xml:lang="en">Information about document status at the recipient</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="metaxml" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="ee">Saatjale tagasiside saatmiseks mõeldud vaba struktuuriga andmeväli</xs:documentation>
            <xs:documentation xml:lang="en">A free-to-use field for sending feedback to the sender</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>        
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="fault">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Element transpordivigade teatamiseks. Sisu analoogne SOAP fault päringuvastusega</xs:documentation>
      <xs:documentation xml:lang="en">Element for sending errors on transporting. The content is the same as a SOAP-fault's</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="faultcode" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="faultactor" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="faultstring" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="faultdetail" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="metainfo">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Dokumendi metainfo</xs:documentation>
      <xs:documentation xml:lang="en">Document metadata</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="http://www.riik.ee/schemas/dhl-meta-automatic" minOccurs="0" maxOccurs="unbounded"/>
        <xs:any namespace="http://www.riik.ee/schemas/dhl-meta-manual/2010/2" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="dhlDokumentType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Andmevahetusdokumendi tüüp</xs:documentation>
      <xs:documentation xml:lang="en">Data exchange document type</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:element ref="metainfo" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="transport" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ajalugu" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="metaxml" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="failid" minOccurs="1" maxOccurs="1" />
        <xs:element ref="konteineri_versioon" minOccurs="0" maxOccurs="1" />        
      </xs:sequence>
      <xs:element name="ref" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ee">Viide dokumendile DHL dokumendikontol</xs:documentation>
          <xs:documentation xml:lang="en">Reference to the document on the document store account</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="dhl_id" type="dhlma:dhlDokIDType" use="optional"/>
          <xs:attribute name="dhl_taisnimi" type="dhlma:dhlDokTaisnimiType" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="tagasisideType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Tagasiside vastuvõetud dokumendi oleku ja vigade kohta</xs:documentation>
      <xs:documentation xml:lang="en">Feedback on the received document's status and errors</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="dhl_id" type="dhlma:dhlDokIDType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ee">Dokumendi DVK ID</xs:documentation>
          <xs:documentation xml:lang="en">Document DVK ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vastuvotja_staatus_id" type="xs:integer" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ee">Vastuvõtja poolel dokumendile antud oleku ID</xs:documentation>
          <xs:documentation xml:lang="en">The ID assigned to the document by the recipient</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="fault" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ee">vastuvõtja poolel ilmnenud vea andmed</xs:documentation>
          <xs:documentation xml:lang="en">Information about faults that appeared on the recipient side</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:element name="transport">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Dokumendi transportinfo</xs:documentation>
      <xs:documentation xml:lang="en">Document transport information</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="saatja" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="saaja" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="vahendaja" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metaxml">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Riigikantselei poolt fikseeritud kirja metaandmed</xs:documentation>
      <xs:documentation xml:lang="en">Letter metadata fixed by Riigikantselei</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dokument" type="dhlDokumentType">
    <xs:annotation>
      <xs:documentation xml:lang="ee">DHL poolt kasutatav dokumendielement</xs:documentation>
      <xs:documentation xml:lang="en">DHL document type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ajalugu">
    <xs:annotation>
      <xs:documentation xml:lang="ee">Informatsioon dokumendi liikumistee kohta</xs:documentation>
      <xs:documentation xml:lang="en">Information about the route of the document</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="metainfo" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="transport" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="metaxml" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allyksuse_lyhinimetus" type="xs:string">
  	<xs:annotation>
  		<xs:documentation xml:lang="ee">Allüksuse lühinimetus</xs:documentation>
  		<xs:documentation xml:lang="en">Subdivision short name</xs:documentation>
  	</xs:annotation>
  </xs:element>
  <xs:element name="ametikoha_lyhinimetus" type="xs:string">
  	<xs:annotation>
  		<xs:documentation xml:lang="ee">Ametikoha lühinimetus</xs:documentation>
  		<xs:documentation xml:lang="en">Position short name</xs:documentation>
  	</xs:annotation>
  </xs:element>
  <xs:element name="failid">
  	<xs:annotation>
  		<xs:documentation xml:lang="ee">Failide konteiner</xs:documentation>
  		<xs:documentation xml:lang="en">File container</xs:documentation>
  	</xs:annotation>
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element ref="kokku" minOccurs="1" maxOccurs="1" />
  			<xs:element ref="fail" minOccurs="1" maxOccurs="unbounded" />
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
  <xs:element name="konteineri_versioon" type="xs:positiveInteger">
  	<xs:annotation>
  		<xs:documentation xml:lang="ee">Näitab, millise versiooniga DVK konteinerist on tegu. Kui ei ole määratud, siis eeldatakse, et tegemist on esimese versiooniga</xs:documentation>
  		<xs:documentation xml:lang="en">Indicates which version of the DVK container is used. If not used, first version is assumed to be used</xs:documentation>
  	</xs:annotation>	
  </xs:element>
  <xs:element name="kokku" type="xs:positiveInteger">
  	<xs:annotation>
  		<xs:documentation xml:lang="ee">Failide arv</xs:documentation>
  		<xs:documentation xml:lang="en">File count</xs:documentation>
  	</xs:annotation>
  </xs:element>
  <xs:element name="fail">
  	<xs:annotation>
  		<xs:documentation xml:lang="ee">Faili andmed</xs:documentation>
  		<xs:documentation xml:lang="en">File data</xs:documentation>
  	</xs:annotation>
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element name="jrknr" type="xs:positiveInteger" minOccurs="1" maxOccurs="1">
  				<xs:annotation>
  					<xs:documentation xml:lang="ee">Faili järjekorranumber</xs:documentation>
  					<xs:documentation xml:lang="en">File ordering number</xs:documentation>
  				</xs:annotation>
  			</xs:element>
  			<xs:element name="fail_pealkiri" type="xs:string" minOccurs="0" maxOccurs="1">
  				<xs:annotation>
  					<xs:documentation xml:lang="ee">Faili pealkiri</xs:documentation>
  					<xs:documentation xml:lang="en">File title</xs:documentation>
  				</xs:annotation>
  			</xs:element>
  			<xs:element name="fail_suurus" type="xs:positiveInteger" minOccurs="1" maxOccurs="1">
  				<xs:annotation>
  					<xs:documentation xml:lang="ee">Faili suurus baitides</xs:documentation>
  					<xs:documentation xml:lang="en">The size of the file in bytes</xs:documentation>
  				</xs:annotation>
  			</xs:element>
  			<xs:element name="fail_tyyp" type="xs:string" minOccurs="1" maxOccurs="1">
  				<xs:annotation>
  					<xs:documentation xml:lang="ee">Faili MIME tüüp</xs:documentation>
  					<xs:documentation xml:lang="en">File MIME-type</xs:documentation>
  				</xs:annotation>
  			</xs:element>
  			<xs:element name="fail_nimi" type="xs:string" minOccurs="1" maxOccurs="1">
  				<xs:annotation>
  					<xs:documentation xml:lang="ee">Faili nimi</xs:documentation>
  					<xs:documentation xml:lang="en">Name of the file</xs:documentation>
  				</xs:annotation>
  			</xs:element>
  			<xs:element name="zip_base64_sisu" type="xs:string" minOccurs="1" maxOccurs="1">
  				<xs:annotation>
  					<xs:documentation xml:lang="ee">ZIP-itud ja Base64 kodeeringusse pandud faili sisu</xs:documentation>
  					<xs:documentation xml:lang="en">File contents as a Base64 encoded string of zipped file contents</xs:documentation>
  				</xs:annotation>
  			</xs:element>
  			<xs:element name="krypteering" type="xs:boolean" minOccurs="0" maxOccurs="1">
  				<xs:annotation>
  					<xs:documentation xml:lang="ee">Näitab, kas fail on krüpteeritud</xs:documentation>
  					<xs:documentation xml:lang="en">Indicates whether this file is encrypted</xs:documentation>
  				</xs:annotation>
  			</xs:element>
  			<xs:element name="pohi_dokument" type="xs:boolean" minOccurs="0" maxOccurs="1">
  				<xs:annotation>
  					<xs:documentation xml:lang="ee">Näitab, kas tegemist on põhifailiga</xs:documentation>
  					<xs:documentation xml:lang="en">Indicates whether this is the main file</xs:documentation>
  				</xs:annotation>
  			</xs:element>
  			<xs:element name="pohi_dokument_konteineris" type="xs:string" minOccurs="0" maxOccurs="1">
  				<xs:annotation>
  					<xs:documentation xml:lang="ee">Kui tegemist on konteinerfailiga (BDOC, DDOC, ZIP), siis annab põhifaili nime</xs:documentation>
  					<xs:documentation xml:lang="en">The main file name, if the file is a container itself(i.e. a BDOC, DDOC or ZIP)</xs:documentation>
  				</xs:annotation>
  			</xs:element>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
  
  <xs:element name="teadmiseks" type="xs:boolean">
    <xs:annotation>
    	<xs:documentation xml:lang="ee">Näitab, kas antud dokument on adressaadile teadmiseks või täitmiseks</xs:documentation>
    	<xs:documentation xml:lang="en">Indicates whether this document is meant to be processed by the recipient or just for taking note</xs:documentation>
  	</xs:annotation>
  </xs:element>
  
</xs:schema>
