src/main/resources/adit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://producers.ametlikud-dokumendid.xtee.riik.ee/producer/ametlikud-dokumendid"
	xmlns:tns="http://producers.ametlikud-dokumendid.xtee.riik.ee/producer/ametlikud-dokumendid" elementFormDefault="qualified"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
	
	<!-- 
	<import namespace="http://schemas.xmlsoap.org/soap/encoding/"
		schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
	 -->
	
	<element name="JoinRequest" type="tns:JoinRequest"/>
	<element name="JoinResponse" type="tns:JoinResponse"/>
	<element name="UnJoinRequest" type="tns:UnJoinRequest"/>
	<element name="UnJoinResponse" type="tns:UnJoinResponse"/>
	<element name="GetUserInfoRequest" type="tns:GetUserInfoRequest"/>
	<element name="GetUserInfoResponse" type="tns:GetUserInfoResponse"/>
	<element name="GetJoinedRequest" type="tns:GetJoinedRequest"/>
	<element name="GetJoinedResponse" type="tns:GetJoinedResponse"/>
	
	<element name="GetDocumentRequest" type="tns:GetDocumentRequest"/>
	<element name="GetDocumentResponse" type="tns:GetDocumentResponse"/>
	<element name="GetDocumentFileRequest" type="tns:GetDocumentFileRequest"/>
	<element name="GetDocumentFileResponse" type="tns:GetDocumentFileResponse"/>
	<element name="SaveDocumentRequest" type="tns:SaveDocumentRequest"/>
	<element name="SaveDocumentResponse" type="tns:SaveDocumentResponse"/>
	<element name="DeleteDocumentFileRequest" type="tns:DeleteDocumentFileRequest"/>
	<element name="DeleteDocumentFileResponse" type="tns:DeleteDocumentFileResponse"/>
	<element name="DeflateDocumentRequest" type="tns:DeflateDocumentRequest"/>
	<element name="DeflateDocumentResponse" type="tns:DeflateDocumentResponse"/>
	<element name="DeleteDocumentRequest" type="tns:DeleteDocumentRequest"/>
	<element name="DeleteDocumentResponse" type="tns:DeleteDocumentResponse"/>
	
	<element name="UnShareDocumentRequest" type="tns:UnShareDocumentRequest"/>
	<element name="UnShareDocumentResponse" type="tns:UnShareDocumentResponse"/>
	<element name="MarkDocumentViewedRequest" type="tns:MarkDocumentViewedRequest"/>
	<element name="MarkDocumentViewedResponse" type="tns:MarkDocumentViewedResponse"/>
	
	<complexType name="Message">
		<simpleContent>
			<extension base="string">
				<attribute name="lang" type="string" /> 
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="ArrayOfMessage">
		<sequence>
			<element name="message" type="tns:Message" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfFileId">
		<sequence>
			<element name="file_id" type="integer" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfUserCode">
		<sequence>
			<element name="code" type="string" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="RecipientStatus">
		<sequence>
			<element name="code" type="string"></element>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfRecipientStatus">
		<sequence>
			<element name="recipient" type="tns:RecipientStatus" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>


	<!-- join päringu tüübid -->
	<complexType name="JoinRequest">
		<sequence>
			<element name="userType" type="string"></element>
			<element name="userName" type="string"></element>
		</sequence>
	</complexType>
	<complexType name="JoinResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- unJoin päringu tüübid -->
	<complexType name="UnJoinRequest">
		<sequence/>
	</complexType>
	<complexType name="UnJoinResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- getUserInfo päringu tüübid -->
	<complexType name="GetUserInfoRequest">
		<sequence>
			<element name="userList" type="base64Binary"></element>
		</sequence>
	</complexType>
	<complexType name="GetUserInfoResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="userList" type="base64Binary"></element>
		</sequence>
	</complexType>
	
	<!-- getJoined päringu tüübid -->
	<complexType name="GetJoinedRequest">
		<sequence>
			<element name="maxResults" type="integer"></element>
			<element name="startIndex" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="GetJoinedResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="userList" type="base64Binary"></element>
		</sequence>
	</complexType>
	
	<!-- getDocument päringu tüübid -->
	<complexType name="GetDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="include_file_contents" type="boolean"></element>
		</sequence>
	</complexType>
	<complexType name="GetDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="document">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- getDocumentFile päringu tüübid -->
	<complexType name="GetDocumentFileRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="file_id_list" type="tns:ArrayOfFileId"></element>
		</sequence>
	</complexType>
	<complexType name="GetDocumentFileResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="files">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- saveDocument päringu tüübid -->
	<complexType name="SaveDocumentRequest">
		<sequence>
			<element name="document">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SaveDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="document_id" type="integer"></element>
		</sequence>
	</complexType>
	
	<!-- deleteDocumentFile päringu tüübid -->
	<complexType name="DeleteDocumentFileRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="file_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="DeleteDocumentFileResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- deleteDocument päringu tüübid -->
	<complexType name="DeleteDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="DeleteDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- deflateDocument päringu tüübid -->
	<complexType name="DeflateDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="DeflateDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	
	<!-- unShareDocument päringu tüübid -->
	<complexType name="UnShareDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"/>
			<element name="recipient_list" type="tns:ArrayOfUserCode"/>
		</sequence>
	</complexType>
	<complexType name="UnShareDocumentResponse">
		<sequence>
			<element name="success" type="boolean"/>
			<element name="messages" type="tns:ArrayOfMessage"/>
			<element name="recipient_list" type="tns:ArrayOfRecipientStatus"/>
		</sequence>
	</complexType>
	
	<!-- markDocumentViewed päringu tüübid -->
	<complexType name="MarkDocumentViewedRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="MarkDocumentViewedResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
</schema>