src/main/resources/adit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://producers.ametlikud-dokumendid.xtee.riik.ee/producer/ametlikud-dokumendid"
	xmlns:tns="http://producers.ametlikud-dokumendid.xtee.riik.ee/producer/ametlikud-dokumendid" elementFormDefault="qualified"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
	
	<element name="joinRequest" type="tns:joinRequest"/>
	<element name="joinResponse" type="tns:joinResponse"/>
	<element name="unJoinRequest" type="tns:unJoinRequest"/>
	<element name="unJoinResponse" type="tns:unJoinResponse"/>
	<element name="getUserInfoRequest" type="tns:getUserInfoRequest"/>
	<element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>
	<element name="getJoinedRequest" type="tns:getJoinedRequest"/>
	<element name="getJoinedResponse" type="tns:getJoinedResponse"/>
	<element name="getNotificationsRequest" type="tns:getNotificationsRequest"/>
	<element name="getNotificationsResponse" type="tns:getNotificationsResponse"/>
	<element name="setNotificationsRequest" type="tns:setNotificationsRequest"/>
	<element name="setNotificationsResponse" type="tns:setNotificationsResponse"/>
	<element name="getDocumentListRequest" type="tns:getDocumentListRequest"/>
	<element name="getDocumentListResponse" type="tns:getDocumentListResponse"/>
	<element name="getDocumentRequest" type="tns:getDocumentRequest"/>
	<element name="getDocumentResponse" type="tns:getDocumentResponse"/>
	<element name="getDocumentFileRequest" type="tns:getDocumentFileRequest"/>
	<element name="getDocumentFileResponse" type="tns:getDocumentFileResponse"/>
	<element name="saveDocumentRequest" type="tns:saveDocumentRequest"/>
	<element name="saveDocumentResponse" type="tns:saveDocumentResponse"/>
	<element name="saveDocumentFileRequest" type="tns:saveDocumentFileRequest"/>
	<element name="saveDocumentFileResponse" type="tns:saveDocumentFileResponse"/>
	<element name="deleteDocumentFileRequest" type="tns:deleteDocumentFileRequest"/>
	<element name="deleteDocumentFileResponse" type="tns:deleteDocumentFileResponse"/>
	<element name="deflateDocumentRequest" type="tns:deflateDocumentRequest"/>
	<element name="deflateDocumentResponse" type="tns:deflateDocumentResponse"/>
	<element name="deleteDocumentRequest" type="tns:deleteDocumentRequest"/>
	<element name="deleteDocumentResponse" type="tns:deleteDocumentResponse"/>
	<element name="prepareSignatureRequest" type="tns:prepareSignatureRequest"/>
	<element name="prepareSignatureResponse" type="tns:prepareSignatureResponse"/>
	<element name="confirmSignatureRequest" type="tns:confirmSignatureRequest"/>
	<element name="confirmSignatureResponse" type="tns:confirmSignatureResponse"/>
	<element name="shareDocumentRequest" type="tns:shareDocumentRequest"/>
	<element name="shareDocumentResponse" type="tns:shareDocumentResponse"/>
	<element name="unShareDocumentRequest" type="tns:unShareDocumentRequest"/>
	<element name="unShareDocumentResponse" type="tns:unShareDocumentResponse"/>
	<element name="markDocumentViewedRequest" type="tns:markDocumentViewedRequest"/>
	<element name="markDocumentViewedResponse" type="tns:markDocumentViewedResponse"/>
	<element name="modifyStatusRequest" type="tns:modifyStatusRequest"/>
	<element name="modifyStatusResponse" type="tns:modifyStatusResponse"/>
	<element name="getDocumentHistoryRequest" type="tns:getDocumentHistoryRequest"/>
	<element name="getDocumentHistoryResponse" type="tns:getDocumentHistoryResponse"/>
	<element name="sendDocumentRequest" type="tns:sendDocumentRequest"/>
	<element name="sendDocumentResponse" type="tns:sendDocumentResponse"/>
	
	<complexType name="Message">
		<simpleContent>
			<extension base="string">
				<attribute name="lang" type="string" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="ArrayOfMessage">
		<sequence>
			<element name="message" type="tns:Message" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfFileId">
		<sequence>
			<element name="file_id" type="integer" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfDocumentType">
		<sequence>
			<element name="document_type" type="string" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfDocumentDvkStatus">
		<sequence>
			<element name="status_id" type="integer" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfDocumentWorkflowStatus">
		<sequence>
			<element name="status_id" type="integer" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfCreatorApplication">
		<sequence>
			<element name="creator_application" type="string" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfUserCode">
		<sequence>
			<element name="code" type="string" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="RecipientStatus">
		<sequence>
			<element name="code" type="string"></element>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfRecipientStatus">
		<sequence>
			<element name="recipient" type="tns:RecipientStatus" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="Notification">
		<sequence>
			<element name="type" type="string"></element>
			<element name="active" type="boolean"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfNotification">
		<sequence>
			<element name="notification" type="tns:Notification" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="EmailAddress">
		<sequence>
			<element name="address" type="string"></element>
			<element name="redirected_to" type="string"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfEmailAddress">
		<sequence>
			<element name="email_address" type="tns:EmailAddress" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<!-- join päringu tüübid -->
	<complexType name="joinRequest">
		<sequence>
			<element name="userType" type="string"></element>
			<element name="userName" type="string"></element>
		</sequence>
	</complexType>
	<complexType name="joinResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- unJoin päringu tüübid -->
	<complexType name="unJoinRequest">
		<sequence/>
	</complexType>
	<complexType name="unJoinResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- getUserInfo päringu tüübid -->
	<complexType name="getUserInfoRequest">
		<sequence>
			<element name="userList" type="base64Binary"></element>
		</sequence>
	</complexType>
	<complexType name="getUserInfoResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="userList" type="base64Binary"></element>
		</sequence>
	</complexType>
	
	<!-- getJoined päringu tüübid -->
	<complexType name="getJoinedRequest">
		<sequence>
			<element name="maxResults" type="integer" minOccurs="0" maxOccurs="1"></element>
			<element name="startIndex" type="integer" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
	<complexType name="getJoinedResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="userList" type="base64Binary"></element>
		</sequence>
	</complexType>
	
	<!-- getNotifications päringu tüübid -->
	<complexType name="getNotificationsRequest">
		<sequence/>
	</complexType>
	<complexType name="getNotificationsResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="notifications" type="tns:ArrayOfNotification" nillable="false"></element>
			<element name="notifications_active" type="boolean"></element>
			<element name="address_list" type="tns:ArrayOfEmailAddress"></element>
		</sequence>
	</complexType>
	
	<!-- setNotifications päringu tüübid -->
	<complexType name="setNotificationsRequest">
		<sequence>
			<element name="notifications" type="tns:ArrayOfNotification" nillable="false"></element>
		</sequence>
	</complexType>
	<complexType name="setNotificationsResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	
	
	<!-- getDocumentList päringu tüübid -->
	<complexType name="getDocumentListRequest">
		<sequence>
			<element name="folder" type="string"></element>
			<element name="document_types" type="tns:ArrayOfDocumentType"></element>
			<element name="document_dvk_statuses" type="tns:ArrayOfDocumentDvkStatus"></element>
			<element name="document_workflow_statuses" type="tns:ArrayOfDocumentWorkflowStatus"></element>
			<element name="has_been_viewed" type="boolean"></element>
			<element name="is_deflated" type="boolean"></element>
			<element name="creator_applications" type="tns:ArrayOfCreatorApplication"></element>
			<element name="search_phrase" type="string"></element>
			<element name="max_results" type="integer"></element>
			<element name="start_index" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="getDocumentListResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="document_list">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- getDocument päringu tüübid -->
	<complexType name="getDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="include_file_contents" type="boolean"></element>
		</sequence>
	</complexType>
	<complexType name="getDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="document">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- getDocumentFile päringu tüübid -->
	<complexType name="getDocumentFileRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="file_id_list" type="tns:ArrayOfFileId"></element>
		</sequence>
	</complexType>
	<complexType name="getDocumentFileResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="files">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- saveDocument päringu tüübid -->
	<complexType name="saveDocumentRequest">
		<sequence>
			<element name="document">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="saveDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="document_id" type="integer"></element>
			<element name="document">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- saveDocumentFile päringu tüübid -->
	<complexType name="saveDocumentFileRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="file">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="saveDocumentFileResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="file_id" type="integer"></element>
			<element name="file">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- deleteDocumentFile päringu tüübid -->
	<complexType name="deleteDocumentFileRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="file_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="deleteDocumentFileResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- deleteDocument päringu tüübid -->
	<complexType name="deleteDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="deleteDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- deflateDocument päringu tüübid -->
	<complexType name="deflateDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="deflateDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- prepareSignature päringu tüübid -->
	<complexType name="prepareSignatureRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="manifest" type="string"></element>
			<element name="country" type="string"></element>
			<element name="state" type="string"></element>
			<element name="city" type="string"></element>
			<element name="zip" type="string"></element>
			<element name="signer_certificate">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="prepareSignatureResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="signature_hash" type="string"></element>
		</sequence>
	</complexType>
	
	<!-- confirmSignature päringu tüübid -->
	<complexType name="confirmSignatureRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="signature">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="confirmSignatureResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- shareDocument päringu tüübid -->
	<complexType name="shareDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"/>
			<element name="recipient_list" type="tns:ArrayOfUserCode"/>
			<element name="reason_for_sharing" type="string"/>
			<element name="shared_for_signing" type="boolean"/>
		</sequence>
	</complexType>
	<complexType name="shareDocumentResponse">
		<sequence>
			<element name="success" type="boolean"/>
			<element name="messages" type="tns:ArrayOfMessage"/>
			<element name="recipient_list" type="tns:ArrayOfRecipientStatus"/>
		</sequence>
	</complexType>
	
	<!-- unShareDocument päringu tüübid -->
	<complexType name="unShareDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"/>
			<element name="recipient_list" type="tns:ArrayOfUserCode"/>
		</sequence>
	</complexType>
	<complexType name="unShareDocumentResponse">
		<sequence>
			<element name="success" type="boolean"/>
			<element name="messages" type="tns:ArrayOfMessage"/>
			<element name="recipient_list" type="tns:ArrayOfRecipientStatus"/>
		</sequence>
	</complexType>
	
	<!-- markDocumentViewed päringu tüübid -->
	<complexType name="markDocumentViewedRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="markDocumentViewedResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- modifyStatus päringu tüübid -->
	<complexType name="modifyStatusRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="document_status_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="modifyStatusResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- getDocumentHistory päringu tüübid -->
	<complexType name="getDocumentHistoryRequest">
		<sequence>
			<element name="document_id" type="integer" nillable="false"></element>
		</sequence>
	</complexType>
	<complexType name="getDocumentHistoryResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="document_history_list">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- sendDocument päringu tüübid -->
	<complexType name="sendDocumentRequest">
		<sequence>
			<element name="document_id" type="integer" nillable="false"></element>
			<element name="recipient_list" type="tns:ArrayOfUserCode"/>
		</sequence>
	</complexType>
	<complexType name="sendDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"/>
			<element name="recipient_list" type="tns:ArrayOfRecipientStatus"/>
		</sequence>
	</complexType>
	
</schema>