adit/src/main/resources/adit.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:adit="http://www.example.org/adit/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="adit" targetNamespace="http://www.example.org/adit/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/adit/">
      <xsd:element name="GetDocumentRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="keha" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDocumentRsponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="keha" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetDocumentRequest">
    <wsdl:part element="adit:GetDocument" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetDocumentResponse">
    <wsdl:part element="adit:GetDocumentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="adit">
    <wsdl:operation name="GetDocument">
      <wsdl:input message="adit:GetDocumentRequest"/>
      <wsdl:output message="adit:GetDocumentResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="aditSOAP" type="adit:adit">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="http://www.example.org/adit/GetDocument"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="adit">
    <wsdl:port binding="adit:aditSOAP" name="aditSOAP">
      <soap:address location="http://localhost:8080/adit"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
