adit-war/src/main/resources/adit_new_v2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions targetNamespace="http://producers.@PRODUCER_NAME@.xtee.riik.ee/producer/@PRODUCER_NAME@"
		xmlns:tns="http://producers.@PRODUCER_NAME@.xtee.riik.ee/producer/@PRODUCER_NAME@"
		
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd"
		xmlns:xrd="http://x-road.eu/xsd/xroad.xsd">

	<wsdl:types>
	
		<schema targetNamespace="http://producers.@PRODUCER_NAME@.xtee.riik.ee/producer/@PRODUCER_NAME@" xmlns="http://www.w3.org/2001/XMLSchema">
				
			<import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd" />
			<import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd" />
			
			<xs:annotation>
				<xs:documentation xml:lang="ee">
					ADIT (Avalike Dokumentide Infrastruktuuri Teenus) päringutes kasutatavate andmete kirjeldus "Versioon 2".
					Dokument sisaldab nii (SOAP) päringute keha elementide kui ka päringute manustes kasutatavate andmete kirjeldusi.
					Litsenseeritud [LITSENTS] alusel.
				</xs:documentation>
				<xs:documentation xml:lang="en">
					Describes the "Version 2" data types used in ADIT(Infrastructure Service for Public Documents) requests.
					The Documents contains both the data types used in (SOAP) request body elements and attachments.
					Licensed under [LICENSE].
				</xs:documentation>
			</xs:annotation>

			<element name="getDocumentRequest" type="tns:getDocumentV2Request" />
			<element name="getDocumentResponse" type="tns:getDocumentV2Response" />
			<element name="getUserInfoV2Request" type="tns:getUserInfoV2Request" />
			<element name="getUserInfoV2Response" type="tns:getUserInfoV2Response" />
			<element name="sendDocumentV2Request" type="tns:sendDocumentV2Request" />
			<element name="sendDocumentV2Response" type="tns:sendDocumentV2Response" />
			<element name="saveDocumentV2Request" type="tns:saveDocumentV2Request" />
			<element name="saveDocumentV2Response" type="tns:saveDocumentV2Response" />
			<element name="getDocumentListV2Request" type="tns:getDocumentListV2Request" />
			<element name="getDocumentListV2Response" type="tns:getDocumentListV2Response" />
			<element name="getSendStatusV2Request" type="tns:getSendStatusV2Request" />
			<element name="getSendStatusV2Response" type="tns:getSendStatusV2Response" />

			<element name="infosysteem" type="string">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Infosüsteemi lühinimi</xs:documentation>
					<xs:documentation xml:lang="en">Remote application short name</xs:documentation>
				</xs:annotation>
			</element>

			<simpleType name="success">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Näitab, kas päring õnnestus</xs:documentation>
					<xs:documentation xml:lang="en">Indicates if the request was successful</xs:documentation>
				</xs:annotation>
				<restriction base="boolean" />
			</simpleType>

			<simpleType name="href">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Viide manusele</xs:documentation>
					<xs:documentation xml:lang="en">Attachment reference</xs:documentation>
				</xs:annotation>
				<restriction base="ref:swaRef" />
			</simpleType>

			<complexType name="message">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Teade</xs:documentation>
					<xs:documentation xml:lang="en">Message</xs:documentation>
				</xs:annotation>
				<simpleContent>
					<extension base="string">
						<attribute name="lang" type="string" />
					</extension>
				</simpleContent>
			</complexType>

			<complexType name="arrayOfMessage">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Teadete massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of messages</xs:documentation>
				</xs:annotation>
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="message" type="tns:message" />
				</sequence>
			</complexType>

			<complexType name="arrayOfFileType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Faili tüüpide massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of file types</xs:documentation>
				</xs:annotation>
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="file_type">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Faili tüüp</xs:documentation>
							<xs:documentation xml:lang="en">File type</xs:documentation>
						</xs:annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="document_file" />
								<enumeration value="signature_container" />
								<enumeration value="zip_archive" />
							</restriction>
						</simpleType>
					</element>
				</sequence>
			</complexType>
			<complexType name="documentActionStatus">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi toimingu staatus</xs:documentation>
					<xs:documentation xml:lang="en">Document action status</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="document_id" type="integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi identifikaator</xs:documentation>
							<xs:documentation xml:lang="en">Document identificator</xs:documentation>
						</xs:annotation>
					</element>
					<element name="success" type="tns:success" />
					<element name="messages" type="tns:arrayOfMessage" />
				</sequence>
			</complexType>
			<complexType name="arrayOfDocumentWorkflowStatus">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi töövoo staatuste identifikaatorite massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of document workflow status identificators</xs:documentation>
				</xs:annotation>
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="status_id" type="integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi töövoo staatuse identifikaator</xs:documentation>
							<xs:documentation xml:lang="en">Document workflow status identificator</xs:documentation>
						</xs:annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="arrayOfDocumentDvkStatus">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi DVK(Dokumendivahetuskeskus) staatuste identifikaatorite massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of document DVK(Dokumendivahetuskeskus) status identificators</xs:documentation>
				</xs:annotation>
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="status_id" type="integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi DVK(Dokumendivahetuskeskus) staatuse identifikaator</xs:documentation>
							<xs:documentation xml:lang="en">Document DVK(Dokumendivahetuskeskus) status identificator</xs:documentation>
						</xs:annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="arrayOfDocumentType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi tüüpide massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of document types</xs:documentation>
				</xs:annotation>
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="document_type" type="string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi tüüp</xs:documentation>
							<xs:documentation xml:lang="en">Document type</xs:documentation>
						</xs:annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="arrayOfRecipientStatus">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Vastuvõtja(adressaadi) staatuste massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of recipient statuses</xs:documentation>
				</xs:annotation>
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="recipient" type="tns:recipientStatus" />
				</sequence>
			</complexType>
			<complexType name="recipientStatus">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Vastuvõtja(adressaat) staatus</xs:documentation>
					<xs:documentation xml:lang="en">Recipient status</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="code" type="string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Vastuvõtja(adressaadi) kood</xs:documentation>
							<xs:documentation xml:lang="en">Recipient code</xs:documentation>
						</xs:annotation>
					</element>
					<element name="success" type="tns:success" />
					<element name="messages" type="tns:arrayOfMessage" />
				</sequence>
			</complexType>
			<complexType name="arrayOfDocumentActionStatus">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi toimingu staatuste massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of document action statuses</xs:documentation>
				</xs:annotation>
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="document" type="tns:documentActionStatus" />
				</sequence>
			</complexType>

			<complexType name="arrayOfCreatorApplication">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi loomiseks kasutatud infosüsteemide lühinimede massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of the names of the applications used to create documents</xs:documentation>
				</xs:annotation>
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="creator_application" type="string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi loomiseks kasutatud infosüsteemi lühinimi</xs:documentation>
							<xs:documentation xml:lang="en">Name of the application used to create documents</xs:documentation>
						</xs:annotation>
					</element>
				</sequence>
			</complexType>

			<complexType name="arrayOfUserCode">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Kasutajakoodide massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of user codes</xs:documentation>
				</xs:annotation>
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="code" type="string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutajakood</xs:documentation>
							<xs:documentation xml:lang="en">User codes</xs:documentation>
						</xs:annotation>
					</element>
				</sequence>
			</complexType>

			<!-- getDocument päringu tüübid -->
			<complexType name="getDocumentV2Request">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päring "getDocument"</xs:documentation>
					<xs:documentation xml:lang="en">"getDocument" request</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="document_id" type="integer">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Dokumendi identifikaator</xs:documentation>
										<xs:documentation xml:lang="en">Document identificator</xs:documentation>
									</xs:annotation>
								</element>
								<element name="include_file_contents" type="boolean">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Näitab, kas tagastatakse ka failide sisu</xs:documentation>
										<xs:documentation xml:lang="en">Indicates if the content of the files is returned</xs:documentation>
									</xs:annotation>
								</element>
								<element name="file_types" type="tns:arrayOfFileType" />
								<element name="document_guid" type="string">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Dokumendi globaalselt unikaalne identifikaator</xs:documentation>
										<xs:documentation xml:lang="en">Document generally unique identificator</xs:documentation>
									</xs:annotation>
								</element>
								<element name="dvk_id" type="integer">
									<xs:annotation>
										<xs:documentation xml:lang="ee">DVK id</xs:documentation>
										<xs:documentation xml:lang="en">DVK id</xs:documentation>
									</xs:annotation>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="getDocumentV2Response">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "getDocument" vastus</xs:documentation>
					<xs:documentation xml:lang="en">"getDocument" request response</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="success" type="tns:success" />
								<element name="messages" type="tns:arrayOfMessage" />
								<element name="document">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Dokumendi andmed</xs:documentation>
										<xs:documentation xml:lang="en">Document data</xs:documentation>
									</xs:annotation>
									<complexType>
										<attribute name="href" type="tns:href" />
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			
			<!-- getUserInfo päringu tüübid -->
			<complexType name="getUserInfoV2Request">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päring "getUserInfo"</xs:documentation>
					<xs:documentation xml:lang="en">"getUserInfo" request</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="userList">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Kasutajate massiiv</xs:documentation>
										<xs:documentation xml:lang="en">Array of users</xs:documentation>
									</xs:annotation>
									<complexType>
										<attribute name="href" type="tns:href" />
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="getUserInfoV2Response">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "getUserInfo" vastus</xs:documentation>
					<xs:documentation xml:lang="en">"getUserInfo" request response</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="success" type="tns:success" />
								<element name="messages" type="tns:arrayOfMessage" />
								<element name="userList">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Kasutajate andmete massiiv</xs:documentation>
										<xs:documentation xml:lang="en">Array of user data</xs:documentation>
									</xs:annotation>
									<complexType>
										<attribute name="href" type="tns:href" />
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			
			<!-- sendDocument päringu tüübid -->
			<complexType name="sendDocumentV2Request">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päring "sendDocument"</xs:documentation>
					<xs:documentation xml:lang="en">"sendDocument" request</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="document_id" nillable="false" type="integer">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Dokumendi identifikaator</xs:documentation>
										<xs:documentation xml:lang="en">Document identificator</xs:documentation>
									</xs:annotation>
								</element>
								<element name="recipient_list" type="tns:arrayOfUserCode" />
								<element name="dec_folder" type="string">
									<xs:annotation>
										<xs:documentation xml:lang="ee">DVK dokumentide kaust</xs:documentation>
										<xs:documentation xml:lang="en">DVK Folder of documents</xs:documentation>
									</xs:annotation>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="sendDocumentV2Response">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "sendDocument" vastus</xs:documentation>
					<xs:documentation xml:lang="en">"sendDocument" request response</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="success" type="tns:success" />
								<element name="messages" type="tns:arrayOfMessage" />
								<element name="recipient_list" type="tns:arrayOfRecipientStatus" />
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<!-- saveDocument päringu tüübid -->
			<complexType name="saveDocumentV2Request">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päring "saveDocument"</xs:documentation>
					<xs:documentation xml:lang="en">"saveDocument" request</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="check_user_is_active" type="boolean" />
								<element name="document">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Dokument</xs:documentation>
										<xs:documentation xml:lang="en">Document</xs:documentation>
									</xs:annotation>
									<complexType>
										<attribute name="href" type="tns:href" />
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="saveDocumentV2Response">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "saveDocument" vastus</xs:documentation>
					<xs:documentation xml:lang="en">"saveDocument" requestresponse</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="success" type="tns:success" />
								<element name="messages" type="tns:arrayOfMessage" />
								<element name="document_id" type="integer" />
								<element name="document">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Dokument</xs:documentation>
										<xs:documentation xml:lang="en">Document</xs:documentation>
									</xs:annotation>
									<complexType>
										<attribute name="href" type="tns:href" />
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
						<complexType name="getDocumentListV2Request">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päring "getDocumentList"</xs:documentation>
					<xs:documentation xml:lang="en">"getDocumentList" request</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="folder" type="string">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Dokumentide kaust</xs:documentation>
										<xs:documentation xml:lang="en">Folder of documents</xs:documentation>
									</xs:annotation>
								</element>
								<element name="dec_folder" type="string">
									<xs:annotation>
										<xs:documentation xml:lang="ee">DVK dokumentide kaust</xs:documentation>
										<xs:documentation xml:lang="en">DVK Folder of documents</xs:documentation>
									</xs:annotation>
								</element>
								<element name="document_types" type="tns:arrayOfDocumentType" />
								<element name="file_types" type="tns:arrayOfFileType" />
								<element name="document_dhx_statuses" type="tns:arrayOfDocumentDvkStatus" />
								<element name="document_workflow_statuses" type="tns:arrayOfDocumentWorkflowStatus" />
								<element name="has_been_viewed" type="boolean">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Näitab, kas antud dokumenti on vaadatud</xs:documentation>
										<xs:documentation xml:lang="en">Indicates if the document has been viewed</xs:documentation>
									</xs:annotation>
								</element>
								<element name="signed" type="boolean">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Näitab, kas antud dokument on allkirjastatud</xs:documentation>
										<xs:documentation xml:lang="en">Indicates if the document has been signed</xs:documentation>
									</xs:annotation>
								</element>
								<element name="is_deflated" type="boolean">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Näitab, kas antud dokument on arhiveeritud</xs:documentation>
										<xs:documentation xml:lang="en">Indicates if the document has been deflated</xs:documentation>
									</xs:annotation>
								</element>
								<element name="creator_applications" type="tns:arrayOfCreatorApplication" />
								<element name="search_phrase" type="string">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Otsingufraas</xs:documentation>
										<xs:documentation xml:lang="en">Search phrase</xs:documentation>
									</xs:annotation>
								</element>
								<element name="period_start" type="date">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Viimase muudatuse vahemiku algus</xs:documentation>
										<xs:documentation xml:lang="en">Start date of last modified range</xs:documentation>
									</xs:annotation>
								</element>
								<element name="period_end" type="date">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Viimase muudatuse vahemiku lõpp</xs:documentation>
										<xs:documentation xml:lang="en">End date of last modified range</xs:documentation>
									</xs:annotation>
								</element>
								<element name="max_results" type="integer">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Maksimaalne tulemuste arv</xs:documentation>
										<xs:documentation xml:lang="en">Maximum number of returned results</xs:documentation>
									</xs:annotation>
								</element>
								<element name="start_index" type="integer">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Tagastatavate tulemustealgusindeks</xs:documentation>
										<xs:documentation xml:lang="en">Offset(starting index) of the results returned</xs:documentation>
									</xs:annotation>
								</element>
								<element name="sort_by">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Andmeväli, mille järgi otsingu tulemused sorteeritakse</xs:documentation>
										<xs:documentation xml:lang="en">Name of field that will be used to sort search result</xs:documentation>
									</xs:annotation>
									<simpleType>
										<restriction base="string">
											<enumeration value="created" />
											<enumeration value="document_type" />
											<enumeration value="dvk_id" />
											<enumeration value="guid" />
											<enumeration value="id" />
											<enumeration value="last_modified" />
											<enumeration value="title" />
											<enumeration value="file_size" />
											<enumeration value="sender_receiver" />
										</restriction>
									</simpleType>
								</element>
								<element name="sort_order">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Otsingutulemuste sorteerimise suund</xs:documentation>
										<xs:documentation xml:lang="en">Search result sort order</xs:documentation>
									</xs:annotation>
									<simpleType>
										<restriction base="string">
											<enumeration value="asc" />
											<enumeration value="desc" />
										</restriction>
									</simpleType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="getDocumentListV2Response">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "getDocumentList" vastus</xs:documentation>
					<xs:documentation xml:lang="en">"getDocumentList" request response</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="success" type="tns:success" />
								<element name="messages" type="tns:arrayOfMessage" />
								<element name="documentList">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Dokumentide massiiv</xs:documentation>
										<xs:documentation xml:lang="en">Array of documents</xs:documentation>
									</xs:annotation>
									<complexType>
										<attribute name="href" type="tns:href" />
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			
			<!-- getSendStatus päringu tüübid -->
			<complexType name="getSendStatusV2Request">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päring "getSendStatus"</xs:documentation>
					<xs:documentation xml:lang="en">"getSendStatus" request</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="documendid">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Dokumendid</xs:documentation>
										<xs:documentation xml:lang="en">Documents</xs:documentation>
									</xs:annotation>
									<complexType>
										<attribute name="href" type="tns:href" />
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="getSendStatusV2Response">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "getDocument" vastus</xs:documentation>
					<xs:documentation xml:lang="en">"getDocument" request response</xs:documentation>
				</xs:annotation>
				<sequence>
					<element name="keha">
						<complexType>
							<sequence>
								<element name="success" type="tns:success" />
								<element name="messages" type="tns:arrayOfMessage" />
								<element name="document">
									<xs:annotation>
										<xs:documentation xml:lang="ee">Dokumendi andmed</xs:documentation>
										<xs:documentation xml:lang="en">Document data</xs:documentation>
									</xs:annotation>
									<complexType>
										<attribute name="href" type="tns:href" />
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
		</schema>

		<!-- Schema for SOAP Attachment types. Separate schema for attachment types is necessary to keep attachment types out of ADIT namespace. -->
		<xs:schema xmlns="">
		
			<xs:import namespace="http://producers.@PRODUCER_NAME@.xtee.riik.ee/producer/@PRODUCER_NAME@" />

			<!-- getDocument attachments -->
			<xs:element name="getDocumentResponseAttachmentV2" type="getDocumentResponseAttachmentV2Type" />
			<xs:complexType name="getDocumentResponseAttachmentV2Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "getDocument" vastuse manus</xs:documentation>
					<xs:documentation xml:lang="en">Attachment for request "getDocument" response message</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="document" type="documentV1Type" />
				</xs:sequence>
			</xs:complexType>

			<!-- saveDocument attachments -->
			<xs:element name="saveDocumentV2RequestAttachmentV2" type="saveDocumentV2RequestAttachmentV2Type" />
			<xs:complexType name="saveDocumentV2RequestAttachmentV2Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "saveDocument" manus</xs:documentation>
					<xs:documentation xml:lang="en">Attachment for request "saveDocument" request message</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="document" type="saveDocumentV2RequestAttachmentV2DocumentType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveDocumentV2RequestAttachmentV2DocumentType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi andmed</xs:documentation>
					<xs:documentation xml:lang="en">Document data</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi identifikaator</xs:documentation>
							<xs:documentation xml:lang="en">Document identificator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="guid" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi globaalselt unikaalne identifikaator (GUID)</xs:documentation>
							<xs:documentation xml:lang="en">Document globally unique identificator (GUID)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="title" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi pealkiri</xs:documentation>
							<xs:documentation xml:lang="en">Document title</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="document_type" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi tüüp</xs:documentation>
							<xs:documentation xml:lang="en">Document type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previous_document_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Eelmise dokumendi identifikaator (kui dokument on vastuseks teisele dokumendile)</xs:documentation>
							<xs:documentation xml:lang="en">Previous document identificator (if the document is a response to another document)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eform_use_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Evormi kasutuselevõtu id. Tidetakse ainult siis, kui tegemist on evormi andmetega</xs:documentation>
							<xs:documentation xml:lang="en">Eform use id. Filled only in case of eform formData</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="files" type="subDocumentFilesType" />
				</xs:sequence>
			</xs:complexType>

			<!-- getUserInfo attachments -->
			<!-- request -->
			<xs:element name="getUserInfoV2RequestAttachmentV2" type="getUserInfoV2RequestAttachmentV2Type" />
			<xs:complexType name="getUserInfoV2RequestAttachmentV2Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "getUserInfo" manus</xs:documentation>
					<xs:documentation xml:lang="en">Attachment for request "getUserInfo" request message</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="user_list" type="getUserInfoV2RequestAttachmentV2UserListType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getUserInfoV2RequestAttachmentV2UserListType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Kasutajakoodide massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of user codes</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="code" type="xs:string" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutajakood</xs:documentation>
							<xs:documentation xml:lang="en">Usercode</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<!-- response -->
			<xs:element name="getUserInfoV2ResponseAttachmentV2" type="getUserInfoV2ResponseAttachmentV2Type" />
			<xs:complexType name="getUserInfoV2ResponseAttachmentV2Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "getUserInfo" vastuse manus</xs:documentation>
					<xs:documentation xml:lang="en">Attachment for request "getUserInfo" response message</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="user_list" type="getUserInfoV2ResponseAttachmentV2UserListType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getUserInfoV2ResponseAttachmentV2UserListType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Kasutajate nimekiri</xs:documentation>
					<xs:documentation xml:lang="en">List of users</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="user" type="getUserInfoV2ResponseAttachmentV2UserType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getUserInfoV2ResponseAttachmentV2UserType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Kasutaja andmed</xs:documentation>
					<xs:documentation xml:lang="en">User data</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="code" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutajakood</xs:documentation>
							<xs:documentation xml:lang="en">Usercode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutaja nimi</xs:documentation>
							<xs:documentation xml:lang="en">Name of user</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="has_joined" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas kasutaja on teenusega liitunud</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the user has joined the service</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="free_space_bytes" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutajakonto vaba ruum</xs:documentation>
							<xs:documentation xml:lang="en">Useraccount free space</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="used_space_bytes" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutajakonto kasutatud ruum</xs:documentation>
							<xs:documentation xml:lang="en">Useraccount used space</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="total_space_bytes" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutajakonto kogu ruum</xs:documentation>
							<xs:documentation xml:lang="en">Useraccount total space</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="can_read" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas kasutajal on lugemisõigus</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the user has reading privilege</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="can_write" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas kasutajal on kirjutamisõigus</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the user has writing privilege</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uses_dhx" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas kasutaja kasutab dokumentide vahetamiseks DVK-d</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the user uses DVK to exchange documents</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="messages" type="tns:arrayOfMessage" />
				</xs:sequence>
			</xs:complexType>

			<!-- Attachments common types -->
			<xs:complexType name="documentV1Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi andmed</xs:documentation>
					<xs:documentation xml:lang="en">Document data</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi identifikaator</xs:documentation>
							<xs:documentation xml:lang="en">Document identificator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="guid" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi globaalselt unikaalne identifikaator (GUID)</xs:documentation>
							<xs:documentation xml:lang="en">Document globally unique identificator (GUID)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="title" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi pealkiri</xs:documentation>
							<xs:documentation xml:lang="en">Document title</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="folder" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi virtuaalne kataloog</xs:documentation>
							<xs:documentation xml:lang="en">Document virtual folder</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="has_been_viewed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kas dokumenti on vaadatud</xs:documentation>
							<xs:documentation xml:lang="en">Has the document been viewed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="document_type" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi tüüp</xs:documentation>
							<xs:documentation xml:lang="en">Document type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creator_code" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi looja kood</xs:documentation>
							<xs:documentation xml:lang="en">Document creator code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creator_name" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi looja nimi</xs:documentation>
							<xs:documentation xml:lang="en">Document creator name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creator_user_code" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi looja isikukood, kui dokument on lisatud asutuse kasutajakonto kaudu</xs:documentation>
							<xs:documentation xml:lang="en">Personal ID code of document creator if document has been added using organization account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creator_user_name" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi looja nimi, kui dokument on lisatud asutuse kasutajakonto kaudu</xs:documentation>
							<xs:documentation xml:lang="en">Name of document creator if document has been added using organization account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="created" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi loomise aeg</xs:documentation>
							<xs:documentation xml:lang="en">Document creation time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creator_application" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi loomiseks kasutatud infosüsteem</xs:documentation>
							<xs:documentation xml:lang="en">Application used for creating the document</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="last_modified" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi viimase muutmise aeg</xs:documentation>
							<xs:documentation xml:lang="en">Last modification time of document</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dvk_status_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">DVK staatuse ID, kui dokument on DVK kaudu saadetud või saabunud</xs:documentation>
							<xs:documentation xml:lang="en">DEC status id if document has been sent or received using DEC</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dvk_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi DVK ID, kui dokument on DVK kaudu saadetud või saabunud</xs:documentation>
							<xs:documentation xml:lang="en">Documents DEC ID if document has been sent or received using DEC</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workflow_status_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi menetlusstaatuse ID</xs:documentation>
							<xs:documentation xml:lang="en">Documents workflow status ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="last_accessed" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi viimase vaatamise kuupäev ja kellaaeg</xs:documentation>
							<xs:documentation xml:lang="en">Date and time indicating the last time the document was viewed or modified</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previous_document_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi eelmise versioooni või antud dokumendi aluseks oleva dokumendi ID</xs:documentation>
							<xs:documentation xml:lang="en">ID of documents last version or of the document, that this document is based on</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previous_document_deleted" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas eelmine versioooni või antud dokumendi aluseks olev dokument on kustutatud</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document's previous version or the document, that this is based on is deleted</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previous_document_title" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi eelmise versioooni või antud dokumendi aluseks oleva dokumendi pealkiri</xs:documentation>
							<xs:documentation xml:lang="en">Title of documents last version or of the document, that this document is based on</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previous_document_guid" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi eelmise versioooni või antud dokumendi aluseks oleva dokumendi GUID</xs:documentation>
							<xs:documentation xml:lang="en">GUID of documents last version or of the document, that this document is based on</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="locked" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokument on lukustatud (st dokumendi muutmine on keelatud)</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document is locked (cannot be modified)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="locking_date" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi lukustamise kuupäev ja kellaaeg</xs:documentation>
							<xs:documentation xml:lang="en">Date and time indicating when the document was locked</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="signable" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokument on allkirjastatav</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document is signable</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="deflated" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokument on tühjendatud (st failide sisu on kustutatud)</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document has peen deflated (document files erased)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="deflating_date" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi failide kustutamise kuupäev ja kellaaeg</xs:documentation>
							<xs:documentation xml:lang="en">Date and time when document files were deleted</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="remove_date" type="xs:date">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi eeldatav kustutamise aeg</xs:documentation>
							<xs:documentation xml:lang="en">Predicted document deleting date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="signed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokumenti on allkirjastatud</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document has been signed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eform_use_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Evormi kasutuselevõtu id</xs:documentation>
							<xs:documentation xml:lang="en">Eform use id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="signatures" type="documentSignatureListV1Type">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi allkirjade andmed</xs:documentation>
							<xs:documentation xml:lang="en">Metadata of document signatures</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sent_to" type="documentSentToV1Type" />
					<xs:element name="shared_to" type="documentSharedToV1Type" />
					<xs:element name="document_files" type="documentFilesType" />
					<xs:element name="files_size_bytes" type="xs:integer" nillable="true">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Failide suurus baitides</xs:documentation>
							<xs:documentation xml:lang="en">Files size in bytes</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sender_receiver" type="xs:string" nillable="true">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi saaja või saatja(d)</xs:documentation>
							<xs:documentation xml:lang="en">Document sender or receiver(s)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="has_sent_reply" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokumendile on saadetud vastus</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document is has a sent reply</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="documentV2Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi andmed</xs:documentation>
					<xs:documentation xml:lang="en">Document data</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi identifikaator</xs:documentation>
							<xs:documentation xml:lang="en">Document identificator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="guid" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi globaalselt unikaalne identifikaator (GUID)</xs:documentation>
							<xs:documentation xml:lang="en">Document globally unique identificator (GUID)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="title" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi pealkiri</xs:documentation>
							<xs:documentation xml:lang="en">Document title</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="folder" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi virtuaalne kataloog</xs:documentation>
							<xs:documentation xml:lang="en">Document virtual folder</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="has_been_viewed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kas dokumenti on vaadatud</xs:documentation>
							<xs:documentation xml:lang="en">Has the document been viewed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="document_type" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi tüüp</xs:documentation>
							<xs:documentation xml:lang="en">Document type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creator_code" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi looja kood</xs:documentation>
							<xs:documentation xml:lang="en">Document creator code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creator_name" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi looja nimi</xs:documentation>
							<xs:documentation xml:lang="en">Document creator name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creator_user_code" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi looja isikukood, kui dokument on lisatud asutuse kasutajakonto kaudu</xs:documentation>
							<xs:documentation xml:lang="en">Personal ID code of document creator if document has been added using organization account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creator_user_name" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi looja nimi, kui dokument on lisatud asutuse kasutajakonto kaudu</xs:documentation>
							<xs:documentation xml:lang="en">Name of document creator if document has been added using organization account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="created" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi loomise aeg</xs:documentation>
							<xs:documentation xml:lang="en">Document creation time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creator_application" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi loomiseks kasutatud infosüsteem</xs:documentation>
							<xs:documentation xml:lang="en">Application used for creating the document</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="last_modified" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi viimase muutmise aeg</xs:documentation>
							<xs:documentation xml:lang="en">Last modification time of document</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dhx_receipt_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi DVK ID, kui dokument on DVK kaudu saadetud või saabunud</xs:documentation>
							<xs:documentation xml:lang="en">Documents DEC ID if document has been sent or received using DEC</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workflow_status_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi menetlusstaatuse ID</xs:documentation>
							<xs:documentation xml:lang="en">Documents workflow status ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="last_accessed" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi viimase vaatamise kuupäev ja kellaaeg</xs:documentation>
							<xs:documentation xml:lang="en">Date and time indicating the last time the document was viewed or modified</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previous_document_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi eelmise versioooni või antud dokumendi aluseks oleva dokumendi ID</xs:documentation>
							<xs:documentation xml:lang="en">ID of documents last version or of the document, that this document is based on</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previous_document_deleted" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas eelmine versioooni või antud dokumendi aluseks olev dokument on kustutatud</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document's previous version or the document, that this is based on is deleted</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previous_document_title" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi eelmise versioooni või antud dokumendi aluseks oleva dokumendi pealkiri</xs:documentation>
							<xs:documentation xml:lang="en">Title of documents last version or of the document, that this document is based on</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previous_document_guid" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi eelmise versioooni või antud dokumendi aluseks oleva dokumendi GUID</xs:documentation>
							<xs:documentation xml:lang="en">GUID of documents last version or of the document, that this document is based on</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="locked" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokument on lukustatud (st dokumendi muutmine on keelatud)</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document is locked (cannot be modified)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="locking_date" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi lukustamise kuupäev ja kellaaeg</xs:documentation>
							<xs:documentation xml:lang="en">Date and time indicating when the document was locked</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="signable" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokument on allkirjastatav</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document is signable</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="deflated" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokument on tühjendatud (st failide sisu on kustutatud)</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document has peen deflated (document files erased)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="deflating_date" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi failide kustutamise kuupäev ja kellaaeg</xs:documentation>
							<xs:documentation xml:lang="en">Date and time when document files were deleted</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="remove_date" type="xs:date">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi eeldatav kustutamise aeg</xs:documentation>
							<xs:documentation xml:lang="en">Predicted document deleting date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="signed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokumenti on allkirjastatud</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document has been signed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eform_use_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Evormi kasutuselevõtu id</xs:documentation>
							<xs:documentation xml:lang="en">Eform use id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="signatures" type="documentSignatureListV1Type">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi allkirjade andmed</xs:documentation>
							<xs:documentation xml:lang="en">Metadata of document signatures</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sent_to" type="documentSentToV1Type" />
					<xs:element name="shared_to" type="documentSharedToV1Type" />
					<xs:element name="document_files" type="documentFilesType" />
					<xs:element name="files_size_bytes" type="xs:integer" nillable="true">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Failide suurus baitides</xs:documentation>
							<xs:documentation xml:lang="en">Files size in bytes</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sender_receiver" type="xs:string" nillable="true">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi saaja või saatja(d)</xs:documentation>
							<xs:documentation xml:lang="en">Document sender or receiver(s)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="has_sent_reply" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokumendile on saadetud vastus</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if the document is has a sent reply</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="documentSignatureV1Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendile antud allkirja metaandmed</xs:documentation>
					<xs:documentation xml:lang="en">Document signature metadata</xs:documentation>
				</xs:annotation>
				<xs:all>
					<xs:element name="signer_code" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Allkirjastaja isikukood</xs:documentation>
							<xs:documentation xml:lang="en">Signers personal ID code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="signer_name" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Allkirjastaja nimi</xs:documentation>
							<xs:documentation xml:lang="en">Signers name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="manifest" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Allkirjastaja roll ja/või resolutsioon</xs:documentation>
							<xs:documentation xml:lang="en">Signers role and/or resolution</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="country" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Riik allkirjastaja aadressis</xs:documentation>
							<xs:documentation xml:lang="en">Country name in signers address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="state" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Maakond allkirjastaja aadressis</xs:documentation>
							<xs:documentation xml:lang="en">State/county in signers address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="city" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Linn/vald/küla allkirjastaja aadressis</xs:documentation>
							<xs:documentation xml:lang="en">Town/parish/village in signers address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zip" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Postiindeks allkirjastaja aadressis</xs:documentation>
							<xs:documentation xml:lang="en">Post code in signers address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="signing_date" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Allkirjastamise kuupäev ja kellaaeg</xs:documentation>
							<xs:documentation xml:lang="en">Signing date and time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="user_code" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Allkirja andnud ADIT kasutaja kood</xs:documentation>
							<xs:documentation xml:lang="en">Code of ADIT user, who gave this sgnature</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="user_name" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Allkirja andnud ADIT kasutaja nimi</xs:documentation>
							<xs:documentation xml:lang="en">Name of ADIT user, who gave this sgnature</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>

			<xs:complexType name="documentSignatureListV1Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi allkirjade metaandmete nimekiri</xs:documentation>
					<xs:documentation xml:lang="en">List of document signature metadata</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="signature" type="documentSignatureV1Type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="documentFilesType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi failide andmed</xs:documentation>
					<xs:documentation xml:lang="en">Document files information</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="total_files" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Failide arv</xs:documentation>
							<xs:documentation xml:lang="en">File count</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="total_bytes" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Failide maht baitides</xs:documentation>
							<xs:documentation xml:lang="en">Total size of files in bytes</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="document_files" type="subDocumentFilesType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="subDocumentFilesType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi faili alamtüüp</xs:documentation>
					<xs:documentation xml:lang="en">Document file subtype</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="file" type="fileType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="fileType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumendi faili andmed</xs:documentation>
					<xs:documentation xml:lang="en">Document file information</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Faili identifikaator</xs:documentation>
							<xs:documentation xml:lang="en">File identificator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="guid" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Faili globaalselt unikaalne identifikaator</xs:documentation>
							<xs:documentation xml:lang="en">File globally unique identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Faili nimi</xs:documentation>
							<xs:documentation xml:lang="en">File name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="content_type" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Faili MIME tüüp</xs:documentation>
							<xs:documentation xml:lang="en">File MIME type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Faili kirjeldus</xs:documentation>
							<xs:documentation xml:lang="en">File description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="size_bytes" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Faili suurus baitides</xs:documentation>
							<xs:documentation xml:lang="en">File size in bytes</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="data" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Faili sisu</xs:documentation>
							<xs:documentation xml:lang="en">File data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="file_type">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Faili tüüp</xs:documentation>
							<xs:documentation xml:lang="en">File type</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="document_file" />
								<xs:enumeration value="signature_container" />
								<xs:enumeration value="zip_archive" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="documentSentToV1Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Kasutajate andmete massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of user information</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="sent_time" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Saatmise kuupäev ja kellaaeg</xs:documentation>
							<xs:documentation xml:lang="en">Sending date and time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" name="user" type="documentSentToV1UserType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="documentSentToV1UserType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Kasutaja andmed</xs:documentation>
					<xs:documentation xml:lang="en">User information</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="code" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutajakood</xs:documentation>
							<xs:documentation xml:lang="en">Usercode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutaja nimi</xs:documentation>
							<xs:documentation xml:lang="en">User name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="has_been_viewed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas antud kasutaja on dokumenti vaadanud</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if this user has viewed the document</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="opened_time" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, millal see kasutaja dokumendi avas</xs:documentation>
							<xs:documentation xml:lang="en">The time when the document was opened by this user</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workflow_status_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Selle kasutaja töövoo staatuse identifikaator antud dokumendi jaoks</xs:documentation>
							<xs:documentation xml:lang="en">The workflow status identificator for this document</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dvk_status_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Selle kasutaja DVK staatuse identifikaator antud dokumendi jaoks</xs:documentation>
							<xs:documentation xml:lang="en">The DVK status identificator for this document</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="documentSharedToV1Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Kasutajate andmete massiiv</xs:documentation>
					<xs:documentation xml:lang="en">Array of user information</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="user" type="documentSharedToV1UserType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="documentSharedToV1UserType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Kasutaja andmed</xs:documentation>
					<xs:documentation xml:lang="en">User information</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="code" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutajakood</xs:documentation>
							<xs:documentation xml:lang="en">Usercode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Kasutaja nimi</xs:documentation>
							<xs:documentation xml:lang="en">User name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="has_been_viewed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas antud kasutaja on dokumenti vaadanud</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if this user has viewed the document</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="opened_time" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, millal see kasutaja dokumendi avas</xs:documentation>
							<xs:documentation xml:lang="en">The time when the document was opened by this user</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workflow_status_id" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Selle kasutaja töövoo staatuse identifikaator antud dokumendi jaoks</xs:documentation>
							<xs:documentation xml:lang="en">The workflow status identificator for this document</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="shared_time" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi jagamise aeg</xs:documentation>
							<xs:documentation xml:lang="en">Document sharing time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reason_for_sharing" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Dokumendi jagamise põhjus (tööülesanne)</xs:documentation>
							<xs:documentation xml:lang="en">Reason for sharing (task description)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="shared_for_signing" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Näitab, kas dokument on jagatud allkirjastamiseks</xs:documentation>
							<xs:documentation xml:lang="en">Indicates if this document has been shared for signing</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<!-- getDocumentList attachments -->
			<xs:element name="getDocumentListV2ResponseAttachmentV2" type="getDocumentListV2ResponseAttachmentV2Type" />
			<xs:complexType name="getDocumentListV2ResponseAttachmentV2Type">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "getDocumentList" vastuse manus</xs:documentation>
					<xs:documentation xml:lang="en">Attachment for request "getDocumentList" response message</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="document_list" type="getDocumentListV2ResponseAttachmentV2DocumentListType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getDocumentListV2ResponseAttachmentV2DocumentListType">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Dokumentide nimekiri</xs:documentation>
					<xs:documentation xml:lang="en">List of documents</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="total" type="xs:integer">
						<xs:annotation>
							<xs:documentation xml:lang="ee">Tagastatavate tulemuste arv</xs:documentation>
							<xs:documentation xml:lang="en">Number of results returned</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" name="document" type="documentV2Type" />
				</xs:sequence>
			</xs:complexType>

			<!-- getSendStatus attachments -->
			<xs:element name="getSendStatusV2RequestAttachmentV2" type="getSendStatusV2RequestAttachmentV2" />
			<xs:complexType name="getSendStatusV2RequestAttachmentV2">
				<xs:annotation>
					<xs:documentation xml:lang="ee">Päringu "getSendStatus" manus</xs:documentation>
					<xs:documentation xml:lang="en">Attachment for request "getSendStatus" request message</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="dhx_receipt_id" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="client" element="xrd:client" />
		<wsdl:part name="service" element="xrd:service" />
		<wsdl:part name="id" element="xrd:id" />
		<wsdl:part name="userId" element="xrd:userId" />
		<wsdl:part name="issue" element="xrd:issue" />
		<wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
		
		<wsdl:part name="infosysteem" element="tns:infosysteem" />
	</wsdl:message>
	
	<wsdl:message name="getDocumentV2Request">
		<wsdl:part name="parameters" element="tns:getDocumentRequest" />
	</wsdl:message>
	<wsdl:message name="getDocumentV2Response">
		<wsdl:part name="parameters" element="tns:getDocumentResponse" />
	</wsdl:message>
	<wsdl:message name="getUserInfoV2Request">
		<wsdl:part name="parameters" element="tns:getUserInfoV2Request" />
	</wsdl:message>
	<wsdl:message name="getUserInfoV2Response">
		<wsdl:part name="parameters" element="tns:getUserInfoV2Response" />
	</wsdl:message>
	<wsdl:message name="getDocumentListV2Request">
		<wsdl:part name="parameters" element="tns:getDocumentListV2Request" />
	</wsdl:message>
	<wsdl:message name="getDocumentListV2Response">
		<wsdl:part name="parameters" element="tns:getDocumentListV2Response" />
	</wsdl:message>
	<wsdl:message name="sendDocumentV2Request">
		<wsdl:part name="parameters" element="tns:sendDocumentV2Request" />
	</wsdl:message>
	<wsdl:message name="sendDocumentV2Response">
		<wsdl:part name="parameters" element="tns:sendDocumentV2Response" />
	</wsdl:message>
	<wsdl:message name="saveDocumentV2Request">
		<wsdl:part name="parameters" element="tns:saveDocumentV2Request" />
	</wsdl:message>
	<wsdl:message name="saveDocumentV2Response">
		<wsdl:part name="parameters" element="tns:saveDocumentV2Response" />
	</wsdl:message>
	<wsdl:message name="getSendStatusV2Request">
		<wsdl:part name="parameters" element="tns:getSendStatusV2Request" />
	</wsdl:message>
	<wsdl:message name="getSendStatusV2Response">
		<wsdl:part name="parameters" element="tns:getSendStatusV2Response" />
	</wsdl:message>
	
	<wsdl:portType name="adit">
		<wsdl:operation name="getDocument">
			<xs:documentation>
				<xrd:title>Dokumendi päring</xrd:title>
				<xrd:notes>Tagastab dokumendi</xrd:notes>
			</xs:documentation>
			<wsdl:input message="tns:getDocumentV2Request" name="getDocumentV2Request" />
			<wsdl:output message="tns:getDocumentV2Response" name="getDocumentV2Response" />
		</wsdl:operation>
		<wsdl:operation name="getUserInfo">
			<xs:documentation>
				<xrd:title>Kasutaja info päring</xrd:title>
				<xrd:notes>Kasutaja info päring</xrd:notes>
			</xs:documentation>
			<wsdl:input message="tns:getUserInfoV2Request" name="getUserInfoV2Request" />
			<wsdl:output message="tns:getUserInfoV2Response" name="getUserInfoV2Response" />
		</wsdl:operation>
		<wsdl:operation name="getDocumentList">
			<xs:documentation>
				<xrd:title>Dokumendi otsing</xrd:title>
				<xrd:notes>Võimaldab otsida dokumente, tagastatakse leitud dokumentide andmed</xrd:notes>
			</xs:documentation>
			<wsdl:input message="tns:getDocumentListV2Request" name="getDocumentListV2Request" />
			<wsdl:output message="tns:getDocumentListV2Response" name="getDocumentListV2Response" />
		</wsdl:operation>
		<wsdl:operation name="sendDocument">
			<xs:documentation>
				<xrd:title>Dokumendi saatmine</xrd:title>
				<xrd:notes>Võimaldab saata dokumenti teistele kasutajatele</xrd:notes>
			</xs:documentation>
			<wsdl:input message="tns:sendDocumentV2Request" name="sendDocumentV2Request" />
			<wsdl:output message="tns:sendDocumentV2Response" name="sendDocumentV2Response" />
		</wsdl:operation>
		<wsdl:operation name="saveDocument">
			<xs:documentation>
				<xrd:title>Dokumendi salvestamine</xrd:title>
				<xrd:notes>Dokument (ja failid) salvestatakse</xrd:notes>
			</xs:documentation>
			<wsdl:input message="tns:saveDocumentV2Request" name="saveDocumentV2Request" />
			<wsdl:output message="tns:saveDocumentV2Response" name="saveDocumentV2Response" />
		</wsdl:operation>
		<wsdl:operation name="getSendStatus">
			<xs:documentation>
				<xrd:title>Dokumendi päring</xrd:title>
				<xrd:notes>Tagastab dokumendi</xrd:notes>
			</xs:documentation>
			<wsdl:input message="tns:getSendStatusV2Request" name="getSendStatusV2Request" />
			<wsdl:output message="tns:getSendStatusV2Response" name="getSendStatusV2Response" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="aditSoap11" type="tns:adit">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="getDocument">
			<xrd:version>v2</xrd:version>
			<soap:operation style="document" />
			<wsdl:input name="getDocumentV2Request">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />
				
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getDocumentV2Response">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />
				
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserInfo">
			<xrd:version>v2</xrd:version>
			<soap:operation style="document" />
			<wsdl:input name="getUserInfoV2Request">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />
				
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getUserInfoV2Response">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />
				
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDocumentList">
			<xrd:version>v2</xrd:version>
			<soap:operation style="document" />
			<wsdl:input name="getDocumentListV2Request">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />
				
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getDocumentListV2Response">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />
				
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendDocument">
			<xrd:version>v2</xrd:version>
			<soap:operation style="document" />
			<wsdl:input name="sendDocumentV2Request">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />
				
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="sendDocumentV2Response">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />
				
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveDocument">
			<xrd:version>v1</xrd:version>
			<soap:operation style="document" />
			<wsdl:input name="saveDocumentV2Request">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />

				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="saveDocumentV2Response">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />

				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSendStatus">
			<xrd:version>v2</xrd:version>
			<soap:operation style="document" />
			<wsdl:input name="getSendStatusV2Request">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />
				
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getSendStatusV2Response">
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
				<soap:header message="tns:requestHeader" part="infosysteem" use="literal" />
				
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="aditService">
		<wsdl:port binding="tns:aditSoap11" name="aditSoap11">
			<xrd:title>ADIT</xrd:title>
			<soap:address location="http://TURVASERVER/cgi-bin/consumer_proxy" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
