adit-war/src/main/resources/adit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://producers.ametlikud-dokumendid.xtee.riik.ee/producer/ametlikud-dokumendid"
	xmlns:tns="http://producers.ametlikud-dokumendid.xtee.riik.ee/producer/ametlikud-dokumendid"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
	
	<annotation>
	  	<documentation xml:lang="ee">
	  		ADIT(Avalike Dokumentide Infrastruktuuri Teenus) päringutes kasutatavate
	  		andmete kirjeldus.
	  		Dokument sisaldab nii (SOAP) päringute keha elementide kui ka päringute
	  		manustes kasutatavate andmete kirjeldusi.
	  		Litsenseeritud [LITSENTS] alusel.
	  	</documentation>
	  	<documentation xml:lang="en">
	  		Describes datatypes used in ADIT(Infrastructure Service for Public
	  		Documents) requests.
	  		The Documents containts both the datatypes used in (SOAP) request body
	  		elements and attachments.
	  		Licensed under [LICENSE].
	  	</documentation>
  	</annotation>
	
	<element name="joinRequest" type="tns:joinRequest"/>
	<element name="joinResponse" type="tns:joinResponse"/>
	<element name="unJoinRequest" type="tns:unJoinRequest"/>
	<element name="unJoinResponse" type="tns:unJoinResponse"/>
	<element name="getUserInfoRequest" type="tns:getUserInfoRequest"/>
	<element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>
	<element name="getJoinedRequest" type="tns:getJoinedRequest"/>
	<element name="getJoinedResponse" type="tns:getJoinedResponse"/>
	<element name="getNotificationsRequest" type="tns:getNotificationsRequest"/>
	<element name="getNotificationsResponse" type="tns:getNotificationsResponse"/>
	<element name="setNotificationsRequest" type="tns:setNotificationsRequest"/>
	<element name="setNotificationsResponse" type="tns:setNotificationsResponse"/>
	<element name="getDocumentListRequest" type="tns:getDocumentListRequest"/>
	<element name="getDocumentListResponse" type="tns:getDocumentListResponse"/>
	<element name="getDocumentRequest" type="tns:getDocumentRequest"/>
	<element name="getDocumentResponse" type="tns:getDocumentResponse"/>
	<element name="getDocumentFileRequest" type="tns:getDocumentFileRequest"/>
	<element name="getDocumentFileResponse" type="tns:getDocumentFileResponse"/>
	<element name="saveDocumentRequest" type="tns:saveDocumentRequest"/>
	<element name="saveDocumentResponse" type="tns:saveDocumentResponse"/>
	<element name="saveDocumentFileRequest" type="tns:saveDocumentFileRequest"/>
	<element name="saveDocumentFileResponse" type="tns:saveDocumentFileResponse"/>
	<element name="deleteDocumentFileRequest" type="tns:deleteDocumentFileRequest"/>
	<element name="deleteDocumentFileResponse" type="tns:deleteDocumentFileResponse"/>
	<element name="deflateDocumentRequest" type="tns:deflateDocumentRequest"/>
	<element name="deflateDocumentResponse" type="tns:deflateDocumentResponse"/>
	<element name="deleteDocumentRequest" type="tns:deleteDocumentRequest"/>
	<element name="deleteDocumentResponse" type="tns:deleteDocumentResponse"/>
	<element name="prepareSignatureRequest" type="tns:prepareSignatureRequest"/>
	<element name="prepareSignatureResponse" type="tns:prepareSignatureResponse"/>
	<element name="confirmSignatureRequest" type="tns:confirmSignatureRequest"/>
	<element name="confirmSignatureResponse" type="tns:confirmSignatureResponse"/>
	<element name="shareDocumentRequest" type="tns:shareDocumentRequest"/>
	<element name="shareDocumentResponse" type="tns:shareDocumentResponse"/>
	<element name="unShareDocumentRequest" type="tns:unShareDocumentRequest"/>
	<element name="unShareDocumentResponse" type="tns:unShareDocumentResponse"/>
	<element name="markDocumentViewedRequest" type="tns:markDocumentViewedRequest"/>
	<element name="markDocumentViewedResponse" type="tns:markDocumentViewedResponse"/>
	<element name="modifyStatusRequest" type="tns:modifyStatusRequest"/>
	<element name="modifyStatusResponse" type="tns:modifyStatusResponse"/>
	<element name="getDocumentHistoryRequest" type="tns:getDocumentHistoryRequest"/>
	<element name="getDocumentHistoryResponse" type="tns:getDocumentHistoryResponse"/>
	<element name="sendDocumentRequest" type="tns:sendDocumentRequest"/>
	<element name="sendDocumentResponse" type="tns:sendDocumentResponse"/>
	
	<simpleType name="success">
		<annotation>
			<documentation xml:lang="ee">Näitab, kas päring õnnestus</documentation>
			<documentation xml:lang="en">Indicates if the request was successful</documentation>
		</annotation>
		<restriction base="boolean" />
	</simpleType>
	
	<simpleType name="href">
		<annotation>
			<documentation xml:lang="ee">Viide manusele</documentation>
			<documentation xml:lang="en">Attachment reference</documentation>
		</annotation>
		<restriction base="string" />
	</simpleType>
	
	<complexType name="message">
		<annotation>
	      	<documentation xml:lang="ee">Teade</documentation>
	      	<documentation xml:lang="en">Message</documentation>
    	</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="lang" type="string" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="arrayOfMessage">
		<annotation>
	      	<documentation xml:lang="ee">Teadete massiiv</documentation>
	      	<documentation xml:lang="en">Array of messages</documentation>
    	</annotation>
		<sequence>
			<element name="message" type="tns:message" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="arrayOfFileId">
		<annotation>
	      	<documentation xml:lang="ee">Failide identifikaatorite massiiv</documentation>
	      	<documentation xml:lang="en">Array of file identificators</documentation>
    	</annotation>
		<sequence>
			<element name="file_id" type="integer" maxOccurs="unbounded" minOccurs="0">
				<annotation>
			      	<documentation xml:lang="ee">Faili identifikaator</documentation>
			      	<documentation xml:lang="en">File identificator</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="arrayOfDocumentType">
		<annotation>
	      	<documentation xml:lang="ee">Dokumendi tüüpide massiiv</documentation>
	      	<documentation xml:lang="en">Array of document types</documentation>
    	</annotation>
		<sequence>
			<element name="document_type" type="string" maxOccurs="unbounded" minOccurs="0">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi tüüp</documentation>
			      	<documentation xml:lang="en">Document type</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="arrayOfDocumentDvkStatus">
		<annotation>
	      	<documentation xml:lang="ee">Dokumendi DVK(Dokumendivahetuskeskus) staatuste identifikaatorite massiiv</documentation>
	      	<documentation xml:lang="en">Array of document DVK(Dokumendivahetuskeskus) status identificators</documentation>
    	</annotation>
		<sequence>
			<element name="status_id" type="integer" maxOccurs="unbounded" minOccurs="0">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi DVK(Dokumendivahetuskeskus) staatuse identifikaator</documentation>
			      	<documentation xml:lang="en">Document DVK(Dokumendivahetuskeskus) status identificator</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="arrayOfDocumentWorkflowStatus">
		<annotation>
	      	<documentation xml:lang="ee">Dokumendi töövoo staatuste identifikaatorite massiiv</documentation>
	      	<documentation xml:lang="en">Array of document workflow status identificators</documentation>
    	</annotation>
		<sequence>
			<element name="status_id" type="integer" maxOccurs="unbounded" minOccurs="0">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi töövoo staatuse identifikaator</documentation>
			      	<documentation xml:lang="en">Document workflow status identificator</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="arrayOfCreatorApplication">
		<annotation>
	      	<documentation xml:lang="ee">Dokumendi loomiseks kasutatud infosüsteemide lühinimede massiiv</documentation>
	      	<documentation xml:lang="en">Array of the names of the applications used to create documents</documentation>
    	</annotation>
		<sequence>
			<element name="creator_application" type="string" maxOccurs="unbounded" minOccurs="0">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi loomiseks kasutatud infosüsteemi lühinimi</documentation>
			      	<documentation xml:lang="en">Name of the application used to create documents</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="arrayOfUserCode">
		<annotation>
	      	<documentation xml:lang="ee">Kasutajakoodide massiiv</documentation>
	      	<documentation xml:lang="en">Array of user codes</documentation>
    	</annotation>
		<sequence>
			<element name="code" type="string" maxOccurs="unbounded" minOccurs="0">
				<annotation>
			      	<documentation xml:lang="ee">Kasutajakood</documentation>
			      	<documentation xml:lang="en">User codes</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="recipientStatus">
		<annotation>
	      	<documentation xml:lang="ee">Vastuvõtja(adressaat) staatus</documentation>
	      	<documentation xml:lang="en">Recipient status</documentation>
    	</annotation>
		<sequence>
			<element name="code" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Vastuvõtja(adressaadi) kood</documentation>
			      	<documentation xml:lang="en">Recipient code</documentation>
		    	</annotation>
			</element>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
		</sequence>
	</complexType>
	
	<complexType name="arrayOfRecipientStatus">
		<annotation>
	      	<documentation xml:lang="ee">Vastuvõtja(adressaadi) staatuste massiiv</documentation>
	      	<documentation xml:lang="en">Array of recipient statuses</documentation>
    	</annotation>
		<sequence>
			<element name="recipient" type="tns:recipientStatus" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="notification">
		<annotation>
	      	<documentation xml:lang="ee">Teavitus</documentation>
	      	<documentation xml:lang="en">Notification</documentation>
    	</annotation>
		<sequence>
			<element name="type" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Teavituse tüüp</documentation>
			      	<documentation xml:lang="en">Notification type</documentation>
		    	</annotation>
			</element>
			<element name="active" type="boolean">
				<annotation>
			      	<documentation xml:lang="ee">Näitab, kas teavituse tüüp on aktiivne</documentation>
			      	<documentation xml:lang="en">Indicates if the notification type is active</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="arrayOfNotification">
		<annotation>
	      	<documentation xml:lang="ee">Teavituste massiiv</documentation>
	      	<documentation xml:lang="en">Array of notifications</documentation>
    	</annotation>
		<sequence>
			<element name="notification" type="tns:notification" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="emailAddress">
		<annotation>
	      	<documentation xml:lang="ee">E-posti aadress</documentation>
	      	<documentation xml:lang="en">E-mail address</documentation>
    	</annotation>
		<sequence>
			<element name="address" type="string">
				<annotation>
			      	<documentation xml:lang="ee">E-posti aadress</documentation>
			      	<documentation xml:lang="en">E-mail address</documentation>
		    	</annotation>
			</element>
			<element name="redirected_to" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Suunamise e-posti aadress</documentation>
			      	<documentation xml:lang="en">Redirection e-mail address</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="arrayOfEmailAddress">
		<annotation>
	      	<documentation xml:lang="ee">E-posti aadresside massiiv</documentation>
	      	<documentation xml:lang="en">Array of e-mail addresses</documentation>
    	</annotation>
		<sequence>
			<element name="email_address" type="tns:emailAddress" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="joinRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "join"</documentation>
	      	<documentation xml:lang="en">"join" request</documentation>
    	</annotation>
		<sequence>
			<element name="userType" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Kasutajatüüp</documentation>
			      	<documentation xml:lang="en">Usertype</documentation>
		    	</annotation>
			</element>
			<element name="userName" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Kasutajanimi</documentation>
			      	<documentation xml:lang="en">Username</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="joinResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "join" vastus</documentation>
	      	<documentation xml:lang="en">"join" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- unJoin päringu tüübid -->
	<complexType name="unJoinRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "unJoin"</documentation>
	      	<documentation xml:lang="en">"unJoin" request</documentation>
    	</annotation>
		<sequence/>
	</complexType>
	<complexType name="unJoinResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "unJoin" vastus</documentation>
	      	<documentation xml:lang="en">"unJoin" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- getUserInfo päringu tüübid -->
	<complexType name="getUserInfoRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "getUserInfo"</documentation>
	      	<documentation xml:lang="en">"getUserInfo" request</documentation>
    	</annotation>
		<sequence>
			<element name="userList">
				<annotation>
			      	<documentation xml:lang="ee">Kasutajate massiiv</documentation>
			      	<documentation xml:lang="en">Array of users</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="getUserInfoResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "getUserInfo" vastus</documentation>
	      	<documentation xml:lang="en">"getUserInfo" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage" />
			<element name="userList">
				<annotation>
			      	<documentation xml:lang="ee">Kasutajate andmete massiiv</documentation>
			      	<documentation xml:lang="en">Array of user data</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- getJoined päringu tüübid -->
	<complexType name="getJoinedRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "getJoined"</documentation>
	      	<documentation xml:lang="en">"getJoined" request</documentation>
    	</annotation>
		<sequence>
			<element name="maxResults" type="integer" minOccurs="0" maxOccurs="1">
				<annotation>
			      	<documentation xml:lang="ee">Makimaalne tagastatavate tulemuste arv</documentation>
			      	<documentation xml:lang="en">Maximum number of results returned</documentation>
		    	</annotation>
			</element>
			<element name="startIndex" type="integer" minOccurs="0" maxOccurs="1">
				<annotation>
			      	<documentation xml:lang="ee">Tagastatavate tulemuste algusindeks</documentation>
			      	<documentation xml:lang="en">Offset(starting index) of the results returned</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="getJoinedResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "getJoined" vastus</documentation>
	      	<documentation xml:lang="en">"getJoined" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage" />
			<element name="userList">
				<annotation>
			      	<documentation xml:lang="ee">Kasutajate andmete massiiv</documentation>
			      	<documentation xml:lang="en">Array of user data</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- getNotifications päringu tüübid -->
	<complexType name="getNotificationsRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "getNotifications"</documentation>
	      	<documentation xml:lang="en">"getNotifications" request</documentation>
    	</annotation>
		<sequence/>
	</complexType>
	<complexType name="getNotificationsResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "getNotifications" vastus</documentation>
	      	<documentation xml:lang="en">"getNotifications" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
			<element name="notifications" type="tns:arrayOfNotification" nillable="false"/>
			<element name="notifications_active" type="boolean">
				<annotation>
			      	<documentation xml:lang="ee">Näitab, kas kasutajal on teavitused aktiivsed</documentation>
			      	<documentation xml:lang="en">Indicates if notifications are active for this user</documentation>
		    	</annotation>
			</element>
			<element name="address_list" type="tns:arrayOfEmailAddress"/>
		</sequence>
	</complexType>
	
	<!-- setNotifications päringu tüübid -->
	<complexType name="setNotificationsRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "setNotifications"</documentation>
	      	<documentation xml:lang="en">"setNotifications" request</documentation>
    	</annotation>
		<sequence>
			<element name="notifications" type="tns:arrayOfNotification" nillable="false"></element>
		</sequence>
	</complexType>
	<complexType name="setNotificationsResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "setNotifications" vastus</documentation>
	      	<documentation xml:lang="en">"setNotifications" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<complexType name="getDocumentListRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "getDocumentList"</documentation>
	      	<documentation xml:lang="en">"getDocumentList" request</documentation>
    	</annotation>
		<sequence>
			<element name="folder" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Dokumentide kaust</documentation>
			      	<documentation xml:lang="en">Folder of documents</documentation>
		    	</annotation>
			</element>
			<element name="document_types" type="tns:arrayOfDocumentType"></element>
			<element name="document_dvk_statuses" type="tns:arrayOfDocumentDvkStatus"></element>
			<element name="document_workflow_statuses" type="tns:arrayOfDocumentWorkflowStatus"></element>
			<element name="has_been_viewed" type="boolean">
				<annotation>
			      	<documentation xml:lang="ee">Näitab, kas antud dokumenti on vaadatud</documentation>
			      	<documentation xml:lang="en">Indicates if the document has been viewed</documentation>
		    	</annotation>
			</element>
			<element name="is_deflated" type="boolean">
				<annotation>
			      	<documentation xml:lang="ee">Näitab, kas antud dokument on arhiveeritud</documentation>
			      	<documentation xml:lang="en">Indicates if the document has been deflated</documentation>
		    	</annotation>
			</element>
			<element name="creator_applications" type="tns:arrayOfCreatorApplication"></element>
			<element name="search_phrase" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Otsingufraas</documentation>
			      	<documentation xml:lang="en">Search phrase</documentation>
		    	</annotation>
			</element>
			<element name="max_results" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Maksimaalne tulemuste arv</documentation>
			      	<documentation xml:lang="en">Maximum number of returned results</documentation>
		    	</annotation>
			</element>
			<element name="start_index" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Tagastatavate tulemuste algusindeks</documentation>
			      	<documentation xml:lang="en">Offset(starting index) of the results returned</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="getDocumentListResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "getDocumentList" vastus</documentation>
	      	<documentation xml:lang="en">"getDocumentList" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"></element>
			<element name="documentList">
				<annotation>
			      	<documentation xml:lang="ee">Dokumentide massiiv</documentation>
			      	<documentation xml:lang="en">Array of documents</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- getDocument päringu tüübid -->
	<complexType name="getDocumentRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "getDocument"</documentation>
	      	<documentation xml:lang="en">"getDocument" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
			<element name="include_file_contents" type="boolean">
				<annotation>
			      	<documentation xml:lang="ee">Näitab, kas tagastatakse ka failide sisu</documentation>
			      	<documentation xml:lang="en">Indicates if the content of the files is returned</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="getDocumentResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "getDocument" vastus</documentation>
	      	<documentation xml:lang="en">"getDocument" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"></element>
			<element name="document">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi andmed</documentation>
			      	<documentation xml:lang="en">Document data</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- getDocumentFile päringu tüübid -->
	<complexType name="getDocumentFileRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "getDocumentFile"</documentation>
	      	<documentation xml:lang="en">"getDocumentFile" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
			<element name="file_id_list" type="tns:arrayOfFileId"></element>
		</sequence>
	</complexType>
	<complexType name="getDocumentFileResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "getDocumentFile" vastus</documentation>
	      	<documentation xml:lang="en">"getDocumentFile" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"></element>
			<element name="files">
				<annotation>
			      	<documentation xml:lang="ee">Failid</documentation>
			      	<documentation xml:lang="en">Files</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- saveDocument päringu tüübid -->
	<complexType name="saveDocumentRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "saveDocument"</documentation>
	      	<documentation xml:lang="en">"saveDocument" request</documentation>
    	</annotation>
		<sequence>
			<element name="document">
				<annotation>
					<documentation xml:lang="ee">Dokument</documentation>
					<documentation xml:lang="en">Document</documentation>
				</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="saveDocumentResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "saveDocument" vastus</documentation>
	      	<documentation xml:lang="en">"saveDocument" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"></element>
			<element name="document_id" type="integer"></element>
			<element name="document">
				<annotation>
					<documentation xml:lang="ee">Dokument</documentation>
					<documentation xml:lang="en">Document</documentation>
				</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- saveDocumentFile päringu tüübid -->
	<complexType name="saveDocumentFileRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "saveDocumentFile"</documentation>
	      	<documentation xml:lang="en">"saveDocumentFile" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
			<element name="file">
				<annotation>
			      	<documentation xml:lang="ee">Fail</documentation>
			      	<documentation xml:lang="en">File</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="saveDocumentFileResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "saveDocumentFile" vastus</documentation>
	      	<documentation xml:lang="en">"saveDocumentFile" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
			<element name="file_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Faili identifikaator</documentation>
			      	<documentation xml:lang="en">File identificator</documentation>
		    	</annotation>
			</element>
			<element name="file">
				<annotation>
			      	<documentation xml:lang="ee">Fail</documentation>
			      	<documentation xml:lang="en">File</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- deleteDocumentFile päringu tüübid -->
	<complexType name="deleteDocumentFileRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "deleteDocumentFile"</documentation>
	      	<documentation xml:lang="en">"deleteDocumentFile" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
			<element name="file_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Faili identifikaator</documentation>
			      	<documentation xml:lang="en">File identificator</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="deleteDocumentFileResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "deleteDocumentFile" vastus</documentation>
	      	<documentation xml:lang="en">"deleteDocumentFile" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
		</sequence>
	</complexType>
	
	<!-- deleteDocument päringu tüübid -->
	<complexType name="deleteDocumentRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "deleteDocument"</documentation>
	      	<documentation xml:lang="en">"deleteDocument" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="deleteDocumentResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "deleteDocument" vastus</documentation>
	      	<documentation xml:lang="en">"deleteDocument" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
		</sequence>
	</complexType>
	
	<!-- deflateDocument päringu tüübid -->
	<complexType name="deflateDocumentRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "deflateDocument"</documentation>
	      	<documentation xml:lang="en">"deflateDocument" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="deflateDocumentResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "deflateDocument" vastus</documentation>
	      	<documentation xml:lang="en">"deflateDocument" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
		</sequence>
	</complexType>
	
	<!-- prepareSignature päringu tüübid -->
	<complexType name="prepareSignatureRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "prepareSignature"</documentation>
	      	<documentation xml:lang="en">"prepareSignature" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
			<element name="manifest" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Manifest</documentation>
			      	<documentation xml:lang="en">Manifest</documentation>
		    	</annotation>
			</element>
			<element name="country" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Allkirjastamise asukoht - riik</documentation>
			      	<documentation xml:lang="en">Signing location - country</documentation>
		    	</annotation>
			</element>
			<element name="state" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Allkirjastamise asukoht - osariik</documentation>
			      	<documentation xml:lang="en">Signing location - state</documentation>
		    	</annotation>
			</element>
			<element name="city" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Allkirjastamise asukoht - linn</documentation>
			      	<documentation xml:lang="en">Signing location - city</documentation>
		    	</annotation>
			</element>
			<element name="zip" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Allkirjastamise asukoht - postikood</documentation>
			      	<documentation xml:lang="en">Signing location - zip code</documentation>
		    	</annotation>
			</element>
			<element name="signer_certificate">
				<annotation>
			      	<documentation xml:lang="ee">Allkirjastaja sertifikaat</documentation>
			      	<documentation xml:lang="en">Signer certificate</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="prepareSignatureResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "prepareSignature" vastus</documentation>
	      	<documentation xml:lang="en">"prepareSignature" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"></element>
			<element name="signature_hash" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Allkirja räsi kood</documentation>
			      	<documentation xml:lang="en">Signature hash</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="confirmSignatureRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "confirmSignature"</documentation>
	      	<documentation xml:lang="en">"confirmSignature" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
			<element name="signature">
				<annotation>
			      	<documentation xml:lang="ee">Allkiri</documentation>
			      	<documentation xml:lang="en">Signature</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="confirmSignatureResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "confirmSignature" vastus</documentation>
	      	<documentation xml:lang="en">"confirmSignature" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<complexType name="shareDocumentRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "shareDocument"</documentation>
	      	<documentation xml:lang="en">"shareDocument" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
			<element name="recipient_list" type="tns:arrayOfUserCode"/>
			<element name="reason_for_sharing" type="string">
				<annotation>
			      	<documentation xml:lang="ee">Jagamise põhjus</documentation>
			      	<documentation xml:lang="en">Reason for sharing</documentation>
		    	</annotation>
			</element>
			<element name="shared_for_signing" type="boolean">
				<annotation>
			      	<documentation xml:lang="ee">Näitab, kas jagamise eesmärk on allkirjastamine</documentation>
			      	<documentation xml:lang="en">Indicates if the document is shared for signing</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="shareDocumentResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "shareDocument" vastus</documentation>
	      	<documentation xml:lang="en">"shareDocument" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
			<element name="recipient_list" type="tns:arrayOfRecipientStatus"/>
		</sequence>
	</complexType>
	
	<!-- unShareDocument päringu tüübid -->
	<complexType name="unShareDocumentRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "unShareDocument"</documentation>
	      	<documentation xml:lang="en">"unShareDocument" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
			<element name="recipient_list" type="tns:arrayOfUserCode"/>
		</sequence>
	</complexType>
	<complexType name="unShareDocumentResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "unShareDocument" vastus</documentation>
	      	<documentation xml:lang="en">"unShareDocument" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
			<element name="recipient_list" type="tns:arrayOfRecipientStatus"/>
		</sequence>
	</complexType>
	
	<!-- markDocumentViewed päringu tüübid -->
	<complexType name="markDocumentViewedRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "markDocumentViewed"</documentation>
	      	<documentation xml:lang="en">"markDocumentViewed" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="markDocumentViewedResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "markDocumentViewed" vastus</documentation>
	      	<documentation xml:lang="en">"markDocumentViewed" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
		</sequence>
	</complexType>
	
	<!-- modifyStatus päringu tüübid -->
	<complexType name="modifyStatusRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "modifyStatus"</documentation>
	      	<documentation xml:lang="en">"modifyStatus" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
			<element name="document_status_id" type="integer">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi staatuse identifikaator</documentation>
			      	<documentation xml:lang="en">Document status identificator</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="modifyStatusResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "modifyStatus" vastus</documentation>
	      	<documentation xml:lang="en">"modifyStatus" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
		</sequence>
	</complexType>
	
	<!-- getDocumentHistory päringu tüübid -->
	<complexType name="getDocumentHistoryRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "getDocumentHistory"</documentation>
	      	<documentation xml:lang="en">"getDocumentHistory" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer" nillable="false">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="getDocumentHistoryResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "getDocumentHistory" vastus</documentation>
	      	<documentation xml:lang="en">"getDocumentHistory" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
			<element name="document_history_list">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi ajalookirjete massiiv</documentation>
			      	<documentation xml:lang="en">Array of document history records</documentation>
		    	</annotation>
				<complexType>
					<attribute name="href" type="tns:href" />
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- sendDocument päringu tüübid -->
	<complexType name="sendDocumentRequest">
		<annotation>
	      	<documentation xml:lang="ee">Päring "sendDocument"</documentation>
	      	<documentation xml:lang="en">"sendDocument" request</documentation>
    	</annotation>
		<sequence>
			<element name="document_id" type="integer" nillable="false">
				<annotation>
			      	<documentation xml:lang="ee">Dokumendi identifikaator</documentation>
			      	<documentation xml:lang="en">Document identificator</documentation>
		    	</annotation>
			</element>
			<element name="recipient_list" type="tns:arrayOfUserCode"/>
		</sequence>
	</complexType>
	<complexType name="sendDocumentResponse">
		<annotation>
	      	<documentation xml:lang="ee">Päringu "sendDocument" vastus</documentation>
	      	<documentation xml:lang="en">"sendDocument" request response</documentation>
    	</annotation>
		<sequence>
			<element name="success" type="tns:success" />
			<element name="messages" type="tns:arrayOfMessage"/>
			<element name="recipient_list" type="tns:arrayOfRecipientStatus"/>
		</sequence>
	</complexType>
</schema>