src/main/resources/dev-dev/adit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://producers.ametlikud-dokumendid.xtee.riik.ee/producer/ametlikud-dokumendid"
	xmlns:tns="http://producers.ametlikud-dokumendid.xtee.riik.ee/producer/ametlikud-dokumendid" elementFormDefault="qualified"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
	
	<!-- 
	<import namespace="http://schemas.xmlsoap.org/soap/encoding/"
		schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
	 -->
	
	<element name="JoinRequest" type="tns:JoinRequest"/>
	<element name="JoinResponse" type="tns:JoinResponse"/>
	<element name="UnJoinRequest" type="tns:UnJoinRequest"/>
	<element name="UnJoinResponse" type="tns:UnJoinResponse"/>
	<element name="GetUserInfoRequest" type="tns:GetUserInfoRequest"/>
	<element name="GetUserInfoResponse" type="tns:GetUserInfoResponse"/>
	<element name="GetJoinedRequest" type="tns:GetJoinedRequest"/>
	<element name="GetJoinedResponse" type="tns:GetJoinedResponse"/>
	<element name="GetNotificationsRequest" type="tns:GetNotificationsRequest"/>
	<element name="GetNotificationsResponse" type="tns:GetNotificationsResponse"/>
	<element name="SetNotificationsRequest" type="tns:SetNotificationsRequest"/>
	<element name="SetNotificationsResponse" type="tns:SetNotificationsResponse"/>
	
	<element name="GetDocumentListRequest" type="tns:GetDocumentListRequest"/>
	<element name="GetDocumentListResponse" type="tns:GetDocumentListResponse"/>
	<element name="GetDocumentRequest" type="tns:GetDocumentRequest"/>
	<element name="GetDocumentResponse" type="tns:GetDocumentResponse"/>
	<element name="GetDocumentFileRequest" type="tns:GetDocumentFileRequest"/>
	<element name="GetDocumentFileResponse" type="tns:GetDocumentFileResponse"/>
	<element name="SaveDocumentRequest" type="tns:SaveDocumentRequest"/>
	<element name="SaveDocumentResponse" type="tns:SaveDocumentResponse"/>
	<element name="SaveDocumentFileRequest" type="tns:SaveDocumentFileRequest"/>
	<element name="SaveDocumentFileResponse" type="tns:SaveDocumentFileResponse"/>
	<element name="DeleteDocumentFileRequest" type="tns:DeleteDocumentFileRequest"/>
	<element name="DeleteDocumentFileResponse" type="tns:DeleteDocumentFileResponse"/>
	<element name="DeflateDocumentRequest" type="tns:DeflateDocumentRequest"/>
	<element name="DeflateDocumentResponse" type="tns:DeflateDocumentResponse"/>
	<element name="DeleteDocumentRequest" type="tns:DeleteDocumentRequest"/>
	<element name="DeleteDocumentResponse" type="tns:DeleteDocumentResponse"/>
	<element name="PrepareSignatureRequest" type="tns:PrepareSignatureRequest"/>
	<element name="PrepareSignatureResponse" type="tns:PrepareSignatureResponse"/>
	<element name="ConfirmSignatureRequest" type="tns:ConfirmSignatureRequest"/>
	<element name="ConfirmSignatureResponse" type="tns:ConfirmSignatureResponse"/>
	
	<element name="ShareDocumentRequest" type="tns:ShareDocumentRequest"/>
	<element name="ShareDocumentResponse" type="tns:ShareDocumentResponse"/>
	<element name="UnShareDocumentRequest" type="tns:UnShareDocumentRequest"/>
	<element name="UnShareDocumentResponse" type="tns:UnShareDocumentResponse"/>
	<element name="MarkDocumentViewedRequest" type="tns:MarkDocumentViewedRequest"/>
	<element name="MarkDocumentViewedResponse" type="tns:MarkDocumentViewedResponse"/>
	<element name="ModifyStatusRequest" type="tns:ModifyStatusRequest"/>
	<element name="ModifyStatusResponse" type="tns:ModifyStatusResponse"/>
	<element name="GetDocumentHistoryRequest" type="tns:GetDocumentHistoryRequest"/>
	<element name="GetDocumentHistoryResponse" type="tns:GetDocumentHistoryResponse"/>
	
	<element name="SendDocumentRequest" type="tns:SendDocumentRequest"/>
	<element name="SendDocumentResponse" type="tns:SendDocumentResponse"/>
	
	<complexType name="Message">
		<simpleContent>
			<extension base="string">
				<attribute name="lang" type="string" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="ArrayOfMessage">
		<sequence>
			<element name="message" type="tns:Message" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfFileId">
		<sequence>
			<element name="file_id" type="integer" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfDocumentType">
		<sequence>
			<element name="document_type" type="string" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfDocumentDvkStatus">
		<sequence>
			<element name="status_id" type="integer" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfDocumentWorkflowStatus">
		<sequence>
			<element name="status_id" type="integer" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfCreatorApplication">
		<sequence>
			<element name="creator_application" type="string" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfUserCode">
		<sequence>
			<element name="code" type="string" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="RecipientStatus">
		<sequence>
			<element name="code" type="string"></element>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfRecipientStatus">
		<sequence>
			<element name="recipient" type="tns:RecipientStatus" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="Notification">
		<sequence>
			<element name="type" type="string"></element>
			<element name="active" type="boolean"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfNotification">
		<sequence>
			<element name="notification" type="tns:Notification" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	<complexType name="EmailAddress">
		<sequence>
			<element name="address" type="string"></element>
			<element name="redirected_to" type="string"></element>
		</sequence>
	</complexType>
	
	<complexType name="ArrayOfEmailAddress">
		<sequence>
			<element name="email_address" type="tns:EmailAddress" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<!-- join päringu tüübid -->
	<complexType name="JoinRequest">
		<sequence>
			<element name="userType" type="string"></element>
			<element name="userName" type="string"></element>
		</sequence>
	</complexType>
	<complexType name="JoinResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- unJoin päringu tüübid -->
	<complexType name="UnJoinRequest">
		<sequence/>
	</complexType>
	<complexType name="UnJoinResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- getUserInfo päringu tüübid -->
	<complexType name="GetUserInfoRequest">
		<sequence>
			<element name="userList" type="base64Binary"></element>
		</sequence>
	</complexType>
	<complexType name="GetUserInfoResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="userList" type="base64Binary"></element>
		</sequence>
	</complexType>
	
	<!-- getJoined päringu tüübid -->
	<complexType name="GetJoinedRequest">
		<sequence>
			<element name="maxResults" type="integer" minOccurs="0" maxOccurs="1"></element>
			<element name="startIndex" type="integer" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
	<complexType name="GetJoinedResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="userList" type="base64Binary"></element>
		</sequence>
	</complexType>
	
	<!-- getNotifications päringu tüübid -->
	<complexType name="GetNotificationsRequest">
		<sequence/>
	</complexType>
	<complexType name="GetNotificationsResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="notifications" type="tns:ArrayOfNotification" nillable="false"></element>
			<element name="notifications_active" type="boolean"></element>
			<element name="address_list" type="tns:ArrayOfEmailAddress"></element>
		</sequence>
	</complexType>
	
	<!-- setNotifications päringu tüübid -->
	<complexType name="SetNotificationsRequest">
		<sequence>
			<element name="notifications" type="tns:ArrayOfNotification" nillable="false"></element>
		</sequence>
	</complexType>
	<complexType name="SetNotificationsResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	
	
	<!-- getDocumentList päringu tüübid -->
	<complexType name="GetDocumentListRequest">
		<sequence>
			<element name="folder" type="string"></element>
			<element name="document_types" type="tns:ArrayOfDocumentType"></element>
			<element name="document_dvk_statuses" type="tns:ArrayOfDocumentDvkStatus"></element>
			<element name="document_workflow_statuses" type="tns:ArrayOfDocumentWorkflowStatus"></element>
			<element name="has_been_viewed" type="boolean"></element>
			<element name="is_deflated" type="boolean"></element>
			<element name="creator_applications" type="tns:ArrayOfCreatorApplication"></element>
			<element name="search_phrase" type="string"></element>
			<element name="max_results" type="integer"></element>
			<element name="start_index" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="GetDocumentListResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="document_list">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- getDocument päringu tüübid -->
	<complexType name="GetDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="include_file_contents" type="boolean"></element>
		</sequence>
	</complexType>
	<complexType name="GetDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="document">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- getDocumentFile päringu tüübid -->
	<complexType name="GetDocumentFileRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="file_id_list" type="tns:ArrayOfFileId"></element>
		</sequence>
	</complexType>
	<complexType name="GetDocumentFileResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="files">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- saveDocument päringu tüübid -->
	<complexType name="SaveDocumentRequest">
		<sequence>
			<element name="document">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SaveDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="document_id" type="integer"></element>
			<element name="document">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- saveDocumentFile päringu tüübid -->
	<complexType name="SaveDocumentFileRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="file">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SaveDocumentFileResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="file_id" type="integer"></element>
			<element name="file">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- deleteDocumentFile päringu tüübid -->
	<complexType name="DeleteDocumentFileRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="file_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="DeleteDocumentFileResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- deleteDocument päringu tüübid -->
	<complexType name="DeleteDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="DeleteDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- deflateDocument päringu tüübid -->
	<complexType name="DeflateDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="DeflateDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- prepareSignature päringu tüübid -->
	<complexType name="PrepareSignatureRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="manifest" type="string"></element>
			<element name="country" type="string"></element>
			<element name="state" type="string"></element>
			<element name="city" type="string"></element>
			<element name="zip" type="string"></element>
			<element name="signer_certificate">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PrepareSignatureResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="signature_hash" type="string"></element>
		</sequence>
	</complexType>
	
	<!-- confirmSignature päringu tüübid -->
	<complexType name="ConfirmSignatureRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="signature">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ConfirmSignatureResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- shareDocument päringu tüübid -->
	<complexType name="ShareDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"/>
			<element name="recipient_list" type="tns:ArrayOfUserCode"/>
			<element name="reason_for_sharing" type="string"/>
			<element name="shared_for_signing" type="boolean"/>
		</sequence>
	</complexType>
	<complexType name="ShareDocumentResponse">
		<sequence>
			<element name="success" type="boolean"/>
			<element name="messages" type="tns:ArrayOfMessage"/>
			<element name="recipient_list" type="tns:ArrayOfRecipientStatus"/>
		</sequence>
	</complexType>
	
	<!-- unShareDocument päringu tüübid -->
	<complexType name="UnShareDocumentRequest">
		<sequence>
			<element name="document_id" type="integer"/>
			<element name="recipient_list" type="tns:ArrayOfUserCode"/>
		</sequence>
	</complexType>
	<complexType name="UnShareDocumentResponse">
		<sequence>
			<element name="success" type="boolean"/>
			<element name="messages" type="tns:ArrayOfMessage"/>
			<element name="recipient_list" type="tns:ArrayOfRecipientStatus"/>
		</sequence>
	</complexType>
	
	<!-- markDocumentViewed päringu tüübid -->
	<complexType name="MarkDocumentViewedRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="MarkDocumentViewedResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- modifyStatus päringu tüübid -->
	<complexType name="ModifyStatusRequest">
		<sequence>
			<element name="document_id" type="integer"></element>
			<element name="document_status_id" type="integer"></element>
		</sequence>
	</complexType>
	<complexType name="ModifyStatusResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
		</sequence>
	</complexType>
	
	<!-- getDocumentHistory päringu tüübid -->
	<complexType name="GetDocumentHistoryRequest">
		<sequence>
			<element name="document_id" type="integer" nillable="false"></element>
		</sequence>
	</complexType>
	<complexType name="GetDocumentHistoryResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"></element>
			<element name="document_history_list">
				<complexType>
					<attribute name="href" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- sendDocument päringu tüübid -->
	<complexType name="SendDocumentRequest">
		<sequence>
			<element name="document_id" type="integer" nillable="false"></element>
			<element name="recipient_list" type="tns:ArrayOfUserCode"/>
		</sequence>
	</complexType>
	<complexType name="SendDocumentResponse">
		<sequence>
			<element name="success" type="boolean"></element>
			<element name="messages" type="tns:ArrayOfMessage"/>
			<element name="recipient_list" type="tns:ArrayOfRecipientStatus"/>
		</sequence>
	</complexType>
	
</schema>